.related_list {
    .slick-list {
        padding-bottom: 50px;
    }
    .product_list_item {
        margin: auto;
        padding-bottom: 20px;
        position: relative;
        padding: 0 10px 20px;
    }
    .product_list_item .tit {
        width: calc(100% - 20px);
    }
}

section.related {
    margin-top: 40px;
    h2 {
        text-transform: uppercase;
        font-weight: bold;
        color: #414141;
        font-size: 16px;
        border-left: 5px solid #0a9dcc;
        padding: 8px 10px 6px 10px;
        background: #f3f3f3;
        width: 40%;
        margin-top: 0;
    }
    .related_nav {}
}

.related_nav {
    display: flex;
    float: right;
    width: 45px;
    justify-content: space-between;
}

.btn_sl {
    color: #a6a7ab;
    border: 1px solid #a6a7ab;
    border-radius: 100px;
    height: 20px;
    width: 20px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_sl:hover {
    color: #fff;
    background: #f05a30;
    border-color: #f05a30;
}