@media (max-width: 1184px) {
    /* Page Pri Cat 
    -------------------------- */
    .product_list {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
    .forcefullwidth_wrapper_tp_banner {
        margin-top: 50px !important;
    }
    .headline_dt {
        font-size: 1.4em;
        padding: 7px 0;
    }
    .headline {
        font-size: 1.3em;
        p {
            margin-top: 15px;
        }
        span {
            font-size: 1.2em;
        }
    }
    .nav-tabs {
        grid-template-columns: repeat(4, 1fr);
    }
    /* Single
    ----------------------- */
    .woocommerce .woocommerce-breadcrumb {
        margin-top: 20px;
    }
    .woocommerce div.product .product_title {
        font-size: 1.7em;
        margin-top: 0;
    }
    body.single-product #inner {
        padding-right: 10px;
        padding-left: 10px;
        width: unset;
    }
    section.related h2 {
        width: unset;
        max-width: 355px;
    }
    .single-product .sidebar {
        width: 100%;
    }
    /* Cate - Sub
    ----------------------- */
    .tax-product_cat #inner {
        width: 100% !important;
    }
    /* Footer */
    #footer_taytien {
        .footer_inn .caia-post-list-widget {
            width: 350px;
            float: left;
            margin-right: 10px;
        }
        .footer_inn .textwidget {
            display: flex;
            flex-wrap: wrap-reverse;
            div:nth-of-type(2) {
                order: 1;
            }
        }
    }
}