/* Sidebar */

.single-product {
    .taxonomy-description h1,
    .widget-area h4,
    .widget-area .title {
        font-size: inherit;
        color: inherit;
        font-weight: inherit;
        margin: 0;
        text-transform: inherit;
        background: unset;
        padding: 0;
        margin: 0 0 10px 0;
        color: #0a5495;
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
    }
    .sidebar {
        width: 300px;
    }
    .sidebar .widget {
        background-color: unset !important;
        border: unset !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    /* Steps */
    .prd-excerpt .textwidget {
        padding: 0 !important;
    }
    .prd-excerpt p {
        margin: 0 0 8px 0;
        position: relative;
        padding-left: 20px;
        background: url(../images/icon-checksquare.png) 0px 3px no-repeat; // font-family: "texg";
    }
    .prd-excerpt {
        margin: 0 0 25px 0;
        padding-left: 50px;
        position: relative;
    }
    .prd-excerpt::before {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        border-left: 1px dashed #0a5495;
        top: 0px;
        left: 15px;
        z-index: 10;
    }
    .prd-excerpt .box {
        margin-top: 20px;
        position: relative;
    }
    .prd-excerpt .box:before {
        content: "";
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: #0a5495;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        z-index: 20;
        top: 0px;
        left: -50px;
    }
    .prd-excerpt .box:nth-of-type(1):before {
        background-image: url(../images/landline.png);
    }
    .prd-excerpt .box:nth-of-type(2):before {
        background-image: url(../images/user.png);
    }
    .prd-excerpt .box:nth-of-type(3):before {
        background-image: url(../images/bangiao.png);
    }
    /* Product Desc */
    .sidebar_product_desc {
        margin: 20px 0 50px;
        background-color: #293347;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #293347;
        padding: 30px 15px 20px;
        border-radius: 12px;
        font-size: 16px;
        color: #fff;
        .title {
            margin-bottom: 10px;
            border-bottom: 1px dashed #a1a1a1;
            font-size: 26px;
            padding-bottom: 15px;
            letter-spacing: -1px;
            font-weight: bold;
            text-transform: capitalize;
            color: #fff;
        }
        .price {
            color: #d4b9ff;
            font-size: 25px;
            padding: 5px 0;
            letter-spacing: -1px;
            line-height: 1.3 !important;
        }
        .text {
            padding: 18px 12px;
            border-bottom: 1px dashed #a2a1a1;
            padding: 5px 0 10px;
            p {
                line-height: 1.6;
            }
        }
        .info-support {
            padding: 18px 12px 5px;
            font-style: italic;
            font-size: 15px;
            a {
                color: #d4b9ff;
                &:hover {
                    color: #c4a5f7;
                }
            }
        }
        .info-support .num-phone a {
            font-size: 24px;
            font-weight: 500;
            display: block;
            font-size: 24px;
            font-weight: bold;
            color: orange;
            &:hover {
                color: #ff5d00;
                text-decoration: none;
            }
        }
    }
}