/* Single Product Page 
------------------------------------*/

body.single-product {
    #inner {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 1170px;
        margin-bottom: 50px;
    }
    img.alignnone {
        margin: 0;
    }
    img {
        max-width: 100%;
    }
}

.woocommerce .products ul::after,
.woocommerce .products ul::before,
.woocommerce ul.products::after,
.woocommerce ul.products::before {
    display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs,
.addtoany_share_save_container {
    display: none;
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
    float: none;
    width: unset;
    margin: 0;
}

.woocommerce .woocommerce-breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    font-size: 13px;
    margin: 20px 0px 20px;
    border-bottom: 1px solid #f1f1f1;
    color: #191818;
    margin-top: 0; // display: none;
}

.woocommerce .woocommerce-breadcrumb a {
    color: #0d72c7;
}

.woocommerce div.product .product_title {
    color: #003366;
    font-size: 22px;
    text-transform: none;
    font-weight: bold;
    margin-bottom: 30px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 26px;
    padding-bottom: 15px;
    letter-spacing: -1px;
    font-weight: 400;
    text-transform: capitalize;
}

.woocommerce div.product .product_title {
    font-size: 35px;
    font-weight: bold;
    color: #3f4044;
    font-family: "texgbold";
}

.woocommerce div.product .woocommerce-tabs .panel {
    margin: 0;
    border: none;
    box-shadow: none;
}