strong,
b {
  font-size: inherit !important;
}

.wp-caption {
  max-width: 100% !important;
}

.headline_dt {
  background: #1678c0;
  font-size: 38px;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  span.do {
    color: #fff600;
  }
}

.headline {
  color: #454545;
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  span {
    color: #2194d2;
    font-size: 30px;
    font-weight: bold;
  }
}

.related_services {
  .tit {
    margin: 50px 0 20px !important;
    border-bottom: 1px dashed #a1a1a1 !important;
    font-size: 26px !important;
    padding-bottom: 15px !important;
    letter-spacing: -1px !important;
    font-weight: 400 !important;
    text-transform: capitalize !important;
  }
}

.grid_2cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  .grid_item {
    border-radius: 15px;
    background: #36393c;
    height: 165px;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 25px;
    text-align: center;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    background-position: center center !important;
    background-size: cover !important;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #29334896;
    }
    span {
      z-index: 2;
    }
  }
  .grid_item-2cols {
    grid-column: 1 / span 2;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #293347;
    opacity: 0;
    -webkit-transition: 0.45s ease-in-out;
    transition: 0.45s ease-in-out;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
    text-decoration: none !important;
    z-index: 100;
    color: #fff !important;
  }
  .grid_item:hover {
    .overlay {
      opacity: 1;
    }
  }
}

.detail_btn {
  margin: 0 auto;
  font-size: 16px;
  padding: 1rem 1.3rem;
  font-weight: 400;
  border: 2px solid #8c43ff;
  border-radius: 100px;
  display: block;
  z-index: 100;
  color: #fff;
  &:hover {
    text-decoration: none;
    background-color: #8c43ff;
    color: #fff;
  }
}

/* Woodiscuz */

#woopcomm {
  width: 100%;
  margin: 0;
  margin-top: 40px;
  border: 1px dashed #a1a1a1 !important;
}

/* Footer */

.footer_inn {
  padding: 20px 0;
}

.woocommerce nav.woocommerce-pagination {
  clear: both;
  margin: 10px 0 30px;
}

/* Menu */

.menu_cat_main {
  overflow: hidden !important;
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
  grid-gap: 10px !important;
  padding: 10px !important;
}
.menu_cat_main li {
  width: unset !important;
  min-height: unset !important;
  float: none !important;
  height: unset !important;
  margin: 0 !important;
}
.menu_cat_main li span.txt {
  padding: 0 8px !important;
}

.menu_cat_sub ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 0 10px;
}

.menu_cat_sub li {
  width: unset !important;
  min-height: unset !important;
  display: block !important;
}
