  /*! CSS Used from: https://kenhtuyensinh24h.vn/wp-content/plugins/wpdiscuz/assets/css/wpdiscuz.css?ver=5.3.5 ; media=all */
  @media all{
    wpdtip{display:inline-block;position:inherit;width:auto;}
    #wpcomm{max-width:950px;padding:1px 0 10px 0;border-top:#ddd solid 1px;margin:7px auto 15px auto;}
    #wpcomm *{box-sizing:border-box;}
    #wpcomm .wpd-clear{clear:both!important;}
    #wpcomm .clearfix{clear:both;}
    #wpcomm i{margin:0px;}
    #wpcomm span{display:inline;}
    #wpcomm .avatar{padding:0px;margin:0 auto;float:none;display:inline;width:100%;height:auto;border:none;border-radius:0%;box-shadow:0px 0px 3px 1px rgba(0, 0, 0, 0.2);}
    .wpdiscuz_clear{clear:both;}
    #wpcomm .wpdiscuz-front-actions .wpdiscuz-sort-buttons{padding-top:3px;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;justify-content:flex-end;-ms-align-items:center;align-items:center;}
    #wpcomm .wpdiscuz-front-actions .wpdiscuz-sort-buttons .wpdiscuz-sort-button{font-size:13px;}
    #wpcomm .wpdiscuz-front-actions .wpdiscuz-sort-buttons i{display:inline-block;margin:0px 6px;}
    #wpcomm .wc-thread-wrapper{padding:15px 0px 10px 2px;margin-bottom:10px;margin-top:10px;}
    #wpcomm .wc-comment .wc-reply{margin-top:15px;margin-bottom:0;margin-left:40px;}
    #wpcomm .wc-comment .wc-comment-left{width:72px;float:left;text-align:center;line-height:16px;position:relative;}
    #wpcomm .wc-comment .wc-comment-right{margin-left:90px;padding:0px;display:block;margin-bottom:10px;}
    #wpcomm .wc-reply .wc-comment-left{width:50px;float:left;text-align:center;line-height:16px;}
    #wpcomm .wc-reply .wc-comment-right{margin-left:65px;padding:0px;display:block;}
    #wpcomm .wc-comment .wc-comment-left .wpd-xborder{display:none;position:absolute;height:20px;border-right:1px solid #ddd;width:100%;top:29px;right:-17px;}
    #wpcomm .wc-reply .wc-comment-left .wpd-xborder{display:none;}
    #wpcomm .wc-reply.wc_comment_level-2{margin-left:99px;}
    #wpcomm .wc-comment-header{margin-bottom:10px;height:40px;padding-top:5px;}
    #wpcomm .wc-reply .wc-comment-header{margin-bottom:7px;height:34px;padding-top:5px;}
    #wpcomm .wc-comment-link{font-size:12px;float:right;text-align:right;line-height:20px;padding:0 0 0 10px;margin:7px 5px 5px 5px;}
    #wpcomm .wc-reply .wc-comment-link{margin:5px;}
    #wpcomm .wc-comment-link .wpf-cta{cursor:pointer;font-size:14px;padding:4px 2px 3px 2px;min-width:24px;text-align:center;display:inline-block;margin:1px;line-height:16px;}
    #wpcomm .wc-reply .wc-comment-link .wpf-cta{font-size:13px;padding:3px 3px 3px 3px;line-height:15px;}
    #wc-comment-header{max-width:950px;padding:20px 5px 10px 5px;display:block;float:none;clear:both;font-size:22px;font-weight:normal;margin:0 auto;}
    #wc-comment-header .wpdiscuz-comment-count{display:inline-block;text-align:right;margin-right:10px;vertical-align:bottom;}
    #wc-comment-header .wpdiscuz-comment-count .wpd-cc-value{border-radius:0%;background:#666;color:#fff;font-size:15px;display:inline-block;line-height:18px;padding:5px 10px 5px 10px;min-width:41px;min-height:26px;box-sizing:border-box;text-align:center;}
    #wc-comment-header .wpdiscuz-comment-count .wpd-cc-arrow{width:0px;height:0px;margin:-4px 0px 0px auto;border-left:12px solid transparent;border-right:0px solid transparent;border-top:8px solid #666;display:block;line-height:0px;}
    #wpcomm .wpdiscuz-form-top-bar{width:100%;color:#666666;}
    #wpcomm .wpdiscuz-form-top-bar .wpdiscuz-ftb-left{float:left;padding:12px 0px 10px 0px;font-size:14px;line-height:20px;}
    #wpcomm .wpdiscuz-form-top-bar .wpdiscuz-user-settings{vertical-align:middle;display:inline-block;color:#666666;padding:1px 10px 1px 10px;font-size:18px;line-height:20px;cursor:pointer;border-right:1px solid #ccc;margin-right:10px;}
    #wpcomm .wpdiscuz-form-top-bar .wpdiscuz-user-settings:hover{color:#00B38F;}
    #wpcomm .wpdiscuz-form-top-bar #wc_show_hide_loggedin_username{display:inline-block;color:#666666;padding:1px 5px 1px 0px;font-size:14px;line-height:20px;}
    #wpcomm .wpdiscuz-form-bottom-bar{padding:15px 10px 0px 10px;}
    #wpcomm .wpdiscuz-form-bottom-bar .wpdiscuz-fbb-left{float:left;}
    #wpcomm .wpdiscuz-form-bottom-bar .wpdiscuz-fbb-right{float:right;}
    #wpcomm .wpdiscuz-form-bottom-bar .wpdiscuz-fbb-left .wpdiscuz-stat{cursor:default;color:#666;display:inline-block;margin-right:12px;line-height:34px;}
    #wpcomm .wpdiscuz-form-bottom-bar .wpdiscuz-fbb-left .wpdiscuz-stat i{font-size:17px;margin-right:5px;display:inline-block;}
    #wpcomm .wpdiscuz-form-bottom-bar .wpdiscuz-fbb-left .wpdiscuz-stat.wpd-stat-threads i{font-size:16px;}
    #wpcomm .wpdiscuz-form-bottom-bar .wpdiscuz-fbb-left .wpdiscuz-stat.wpd-stat-replies i{font-size:18px;margin-right:6px;}
    #wpcomm .wpdiscuz-form-bottom-bar .wpdiscuz-fbb-left .wpdiscuz-stat.wpd-stat-subscribers i{font-size:16px;}
    #wpcomm .wpdiscuz-form-bottom-bar .wpdiscuz-fbb-left .wpdiscuz-stat.wpd-stat-hot i{color:#fc5844;font-size:18px;opacity:0.8;cursor:pointer;}
    #wpcomm .wpdiscuz-form-bottom-bar .wpdiscuz-fbb-left .wpdiscuz-stat.wpd-stat-hot i:hover{opacity:1;}
    #wpcomm .wpdiscuz-form-bottom-bar .wpdiscuz-fbb-left .wpdiscuz-stat.wpd-stat-reacted i{color:#ffa600;font-size:18px;opacity:0.8;cursor:pointer;}
    #wpcomm .wpdiscuz-form-bottom-bar .wpdiscuz-fbb-left .wpdiscuz-stat.wpd-stat-reacted i:hover{opacity:1;}
    #wpcomm .wpdiscuz-form-bottom-bar .wpdiscuz-fbb-left .wpdiscuz-stat span{font-size:15px;font-family:Verdana;display:inline;}
    #wpcomm .wpdiscuz-form-bottom-bar .wpdiscuz-fbb-right .wpdiscuz-users img,#wpcomm .wpdiscuz-form-bottom-bar .wpdiscuz-fbb-right .wpdiscuz-users img.avatar,#wpcomm .wpdiscuz-form-bottom-bar .wpdiscuz-fbb-right .wpdiscuz-users img.photo{display:inline-block;width:31px!important;height:31px!important;box-shadow:none;border-radius:50% 50% 0% 50%;margin-left:2px;border:1px solid #ccc;line-height:31px;vertical-align:middle;background:#fff;padding:1px;}
    #wpcomm .wpdiscuz-form-bottom-bar .wpdiscuz-fbb-right .wpdiscuz-stat{color:#666;display:inline-block;margin-right:7px;line-height:31px;vertical-align:bottom;}
    #wpcomm .wpdiscuz-form-bottom-bar .wpdiscuz-fbb-right .wpdiscuz-stat.wpd-stat-users i{font-size:28px;line-height:31px;vertical-align:middle;color:#999999;}
    #wpcomm .wpdiscuz-form-bottom-bar .wpdiscuz-fbb-right .wpdiscuz-stat.wpd-stat-users span{vertical-align:middle;margin-left:5px;font-size:16px;font-family:Verdana;}
    #wpcomm .wpdiscuz-form-bottom-bar .wpdiscuz-fbb-right .wpdiscuz-users{display:inline-block;}
    #wpcomm .wpdiscuz-form-bottom-bar .wpdiscuz-fbb-right .wpdiscuz-users.wpd-tooltip-right wpdtip:after{top:93%;}
    #wpcomm .wc-comment-author{font-size:18px;float:left;white-space:normal;text-align:left;padding:7px 0px 2px 9px;}
    #wpcomm .wc-reply .wc-comment-author{font-size:15px;float:left;white-space:normal;text-align:left;padding:3px 0px 2px 10px;}
    #wpcomm .wc-comment-author a{font-size:18px;text-decoration:none;line-height:30px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;display:inline;}
    #wpcomm .wc-reply .wc-comment-author a{font-size:14px;text-decoration:none;line-height:18px;}
    #wpcomm .wc-follow-link{display:inline-block;font-size:15px;line-height:30px;padding:0px 10px;cursor:pointer;}
    #wpcomm .wc-reply .wc-follow-link{line-height:16px;font-size:13px;}
    #wpcomm .wc-follow-link i{vertical-align:bottom;}
    #wpcomm .wc-comment-right .wc-comment-text{text-align:left;padding:5px 10px;min-height:50px;font-size:14px;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;}
    #wpcomm .wc-reply .wc-comment-right .wc-comment-text,#wpcomm .wc-reply .wc-comment-right .wc-comment-text *{line-height:20px;font-size:13px;}
    #wpcomm .wc-comment-right .wc-comment-text p{margin-bottom:10px;}
    #wpcomm .wc-comment-footer{font-size:13px;font-weight:normal;color:#999;padding:2px 10px 10px 10px;margin-top:0px;min-height:28px;text-align:left;}
    #wpcomm .wc-reply .wc-comment-footer{padding-top:0px;}
    #wpcomm .wc-comment-footer .wc-footer-left{float:left;display:block;}
    #wpcomm .wc-comment-footer .wc-footer-right{float:right;display:block;margin-top:0px;line-height:22px;}
    #wpcomm .wc-comment-footer .wc-footer-right .wc-toggle{float:right;text-align:right;padding-right:0;margin-right:0;margin-left:10px;cursor:pointer;font-size:13px;white-space:nowrap;line-height:24px;}
    #wpcomm .wc-comment-footer .wc-vote-link{display:inline-block;text-align:center;font-size:13px;height:auto;padding:2px 4px;line-height:17px;cursor:pointer;font-weight:300;}
    #wpcomm .wc-comment-footer .wc-vote-result{display:inline-block;text-align:center;font-size:15px;height:auto;padding:2px 3px;line-height:17px;}
    #wpcomm .wc-comment-footer .wc-vote-link.wc-down i.fa-thumbs-down{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";-webkit-transform:scale(-1, 1);-ms-transform:scale(-1, 1);transform:scale(-1, 1);}
    #wpcomm .wc-comment-footer .wc-vote-link i.fa-thumbs-up,#wpcomm .wc-comment-footer .wc-vote-link i.fa-thumbs-down{font-size:16px;}
    #wpcomm .wc-reply .wc-comment-footer .wc-vote-link i.fa-thumbs-up,#wpcomm .wc-reply .wc-comment-footer .wc-vote-link i.fa-thumbs-down{font-size:14px;}
    #wpcomm .wc-footer-left .wc-cta-button,#wpcomm .wc-footer-left .wc-cta-button-x{font-size:12px;cursor:pointer;text-transform:none;height:auto;padding:3px 8px 3px 8px;line-height:18px;display:inline-block;margin-right:0px;}
    #wpcomm .wc-footer-left .wc-cta-button-x{display:none;}
    #wpcomm .wc-footer-left .wc-reply-button{margin-left:10px;margin-right:10px;}
    #wpcomm .wc-footer-left .wc-reply-button i{display:inline-block;font-size:13px;padding-right:2px;}
    #wpcomm .wc-reply .wc-footer-left .wc-reply-button i{display:none;}
    #wpcomm .wc-reply .wc-footer-left .wc-cta-button,#wpcomm .wc-reply .wc-footer-left .wc-cta-button-x{font-size:11px;padding:2px 8px 2px 8px;line-height:16px;}
    #wpcomm .wc-reply .wc-footer-left .wc-cta-button i{font-size:12px;}
    #wpcomm .wc-reply .wc-footer-left .wc-cta-button-x{display:none;}
    #wpcomm .wc-toggle i.fa-chevron-up{display:inline-block;padding-left:5px;}
    #wpcomm .wc-share-link.wpf-cta.wpd-tooltip-right:hover{color:inherit!important;background:inherit!important;}
    #wpcomm form{margin:0!important;padding:0!important;background:0;border:0;width:auto!important;}
    #wpcomm form  div{margin:0;}
    #wpcomm form .wpdiscuz-item{display:block;height:auto;border-radius:0;box-shadow:none;}
    #wpcomm .wc-form-wrapper{padding:0px 1px 0px 0px;margin-top:0;}
    #wpcomm .wc_comm_form .wc-field-comment{clear:both;margin:5px auto 1px auto;}
    #wpcomm .wc_comm_form .wc-field-comment .wc-field-avatararea{float:left;}
    #wpcomm .wc_comm_form.wc_main_comm_form .wc-field-comment .wc-field-avatararea{width:40px;margin:17px 19px;float:left;position:absolute;z-index:10;}
    #wpcomm .wc_comm_form.wc-secondary-form-wrapper .wc-field-comment .wc-field-avatararea{display:none;}
    #wpcomm .wc_comm_form.wc-secondary-form-wrapper .wc-field-comment .wc-field-textarea{margin-left:0px;}
    #wpcomm .wc_comm_form.wc-secondary-form-wrapper .wc-field-textarea textarea{height:50px;min-height:50px!important;}
    #wpcomm .wc-form-footer{display:none;margin-left:0px;margin-bottom:0px;border-bottom:1px solid #ddd;padding-bottom:20px;}
    #wpcomm .wc-secondary-form-wrapper .wc-form-footer{display:none;margin-left:0px;border-bottom:none;}
    #wpcomm .wc-field-submit .wc_comm_submit{width:auto;display:inline-block;}
    #wpcomm .wc_cancel_edit{display:none;}
    #wpcomm .wc-field-textarea{margin-left:0px;position:relative;margin-bottom:4px;}
    #wpcomm .wc-field-textarea textarea{display:inline;width:100%;height:75px;min-height:75px!important;border:none!important;resize:none;padding:10px;box-sizing:border-box;border-radius:0;font-size:14px;color:#777;line-height:20px;}
    #wpcomm .wc-field-textarea .wpdiscuz-textarea-wrap{padding:0;margin:0;background:transparent;position:relative;}
    #wpcomm .wc-field-textarea .wpdiscuz-textarea-wrap textarea{margin-bottom:0!important;}
    #wpcomm .wc_comm_form.wc_main_comm_form .wc-field-textarea .wpdiscuz-textarea-wrap textarea{margin-bottom:0!important;padding:25px 78px 0px 85px;font-size:17px;}
    #wpcomm .wc-field-textarea .wpdiscuz-textarea-wrap textarea:focus{border:none!important;box-shadow:none;}
    #wpcomm button,#wpcomm input[type="submit"]{vertical-align:bottom;border-radius:0px;font-family:sans-serif;font-weight:normal;letter-spacing:normal;line-height:1em;padding:8px 20px;margin:0px;box-shadow:none;text-transform:none;font-size:14px;}
    #wpcomm button:hover,#wpcomm button:focus,#wpcomm input[type="submit"]:hover,#wpcomm input[type="submit"]:focus{opacity:1;}
    #wpcomm .wc-field-submit{padding:15px 0 0 5px;clear:left;}
    #wpcomm.wpdiscuz_auth .wc-field-submit{padding:7px 0 0 5px;clear:left;}
    #wpcomm .wc-load-more-submit-wrap{width:100%;text-align:center;margin-bottom:20px;margin-top:25px;}
    #wpcomm .wc-load-more-submit{width:auto!important;font-size:14px;padding:10px 30px;text-align:center;cursor:pointer;}
    #wpcomm .wpd_label{margin:0px;padding:0px;display:inline-block;}
    #wpcomm .wpd_label,#wpcomm .wpd_label span{display:inline-block;}
    #wpcomm .wpd_label input[type="checkbox"].wpd_label__checkbox{display:none;}
    #wpcomm .wpd_label__checkbox{display:none;}
    #wpcomm .wpd_label__check{display:inline-block;border:0px;border-radius:0;vertical-align:middle;cursor:pointer;text-align:center;margin:0px 3px 0px 0px;}
    #wpcomm .wpd_label__check i.wpdicon{font-size:15px;line-height:21px;padding:4px 5px;width:34px;margin:0px;}
    #wpcomm .wpd_label__check i.wpdicon-on{display:none;color:#00b38f;border:1px solid #b5e5db;background-color:#F6FFFD;}
    #wpcomm .wpd_label__check i.wpdicon-off{display:inline-block;color:#aaaaaa;border:1px solid #dddddd;background-color:#F9F9F9;}
    #wpcomm .wpd_label__checkbox:checked + .wpd_label__text .wpd_label__check .wpdicon-on{display:inline-block;}
    #wpcomm .wpd_label__checkbox:checked + .wpd_label__text .wpd_label__check .wpdicon-off{display:none;}
    #wpcomm .wpd_label__check i.wpdicon-off.fa-unlock-alt,#wpcomm .wpd_label__check i.wpdicon-on.fa-lock{font-size:15px;}
    #wpcomm .wpd-form-row .wpd-form-col-left{width:49%;float:left;margin:0;text-align:left;padding:0;}
    #wpcomm .wpd-form-row .wpd-form-col-right{width:49%;float:right;margin:0;text-align:right;padding:0;}
    #wpcomm .wpd-form-row .wpd-form-col-left .wpdiscuz-item{text-align:left;}
    #wpcomm .wpd-form-row .wpdiscuz-item{width:100%;vertical-align:baseline;padding:5px 0px 3px 0px;position:relative;}
    #wpcomm .wpd-form-row .wpd-field{width:100%;line-height:20px;color:#777777;display:inline-block;float:none;clear:both;margin:0;box-sizing:border-box;padding:3px 5px 3px 5px;font-size:14px;border-radius:0;vertical-align:baseline;border: solid 1px;}
    #wpcomm .wpd-form-row .wpd-has-icon .wpd-field{padding-left:30px;}
    #wpcomm .wpd-form-row .wpd-has-desc .wpd-field{padding-right:30px;}
    #wpcomm .wpd-form-row .wpdiscuz-item .wpd-field-icon{display:inline-block;font-size:17px;line-height:17px;opacity:0.3;padding:0;margin:0px;position:absolute;top:12px;left:8px;width:20px;text-align:left;}
    #wpcomm .wpd-form-row .wpdiscuz-item .wpd-field-desc{display:inline-block;font-size:17px;line-height:17px;opacity:1;margin:0px;position:absolute;top:12px;right:8px;width:20px;text-align:right;border-left:1px solid #ccc;color:#aaa;padding:0px 5px;cursor:pointer;}
    #wpcomm .wpd-form-row .wpdiscuz-item input[type="number"]{height:32px;}
    #wpcomm .wc-field-submit{text-align:right;}
    #wpcomm .wpd-form-col-left div:last-of-type,#wpcomm .wpd-form-col-right div:last-of-type{border-bottom:none;}
    #wpcomm .wc_social_plugin_wrapper{width:auto;}
    #wpcomm div.wpd-field-desc{position:relative;display:inline;}
    #wpcomm div.wpd-field-desc span{position:absolute;width:200px;color:#FFFFFF;background:#555555;height:auto;line-height:17px;padding:8px 10px;font-size:12px;text-align:center;visibility:hidden;border-radius:6px;left:-150px;}
    #wpcomm div.wpd-field-desc span:after{content:'';position:absolute;top:100%;left:50%;margin-left:-4px;width:0;height:0;border-top:8px solid #555555;border-right:8px solid transparent;border-left:8px solid transparent;}
    #wpcomm div:hover.wpd-field-desc span{visibility:visible;opacity:1;bottom:34px;left:50%;margin-left:-100px;z-index:999999;}
    #wpcomm div:hover.wpd-tooltip{position:relative;}
    #wpcomm div.wpd-tooltip{position:relative;}
    #wpcomm div.wpd-tooltip wpdtip{position:absolute;width:200px;color:#FFFFFF;background:#555555;height:auto;line-height:17px;padding:8px 10px;font-size:12px;text-align:center;visibility:hidden;border-radius:6px;left:-100px;}
    #wpcomm div.wpd-tooltip wpdtip:after{content:'';left:48%;position:absolute;top:100%;width:0;height:0;border-top:8px solid #555555;border-right:8px solid transparent;border-left:8px solid transparent;}
    #wpcomm div:hover.wpd-tooltip wpdtip{visibility:visible;opacity:1;bottom:38px;z-index:999999;left:-100px;}
    #wpcomm div:hover.wpd-tooltip-right{position:relative;}
    #wpcomm div.wpd-tooltip-right wpdtip{position:absolute;width:200px;color:#FFFFFF;background:#555555;height:auto;line-height:17px;padding:8px 10px;font-size:12px;text-align:center;visibility:hidden;border-radius:6px;right:210px;}
    #wpcomm div.wpd-tooltip-right wpdtip:after{content:'';position:absolute;top:100%;width:0;height:0;border-top:8px solid #555555;border-right:8px solid transparent;border-left:8px solid transparent;right:18px;}
    #wpcomm div:hover.wpd-tooltip-right wpdtip{visibility:visible;opacity:1;bottom:40px;z-index:999999;right:-10px;}
    #wpcomm div:hover.wpd-tooltip-left{position:relative;}
    #wpcomm div.wpd-tooltip-left wpdtip{position:absolute;width:200px;color:#FFFFFF;background:#555555;height:auto;line-height:17px;padding:8px 10px;font-size:12px;text-align:center;visibility:hidden;border-radius:6px;left:-100px;}
    #wpcomm div.wpd-tooltip-left wpdtip:after{content:'';position:absolute;top:100%;width:0;height:0;border-top:8px solid #555555;border-right:8px solid transparent;border-left:8px solid transparent;left:10px;}
    #wpcomm div:hover.wpd-tooltip-left wpdtip{visibility:visible;opacity:1;bottom:40px;z-index:999999;left:-10px;}
    #wpcomm div.wpdiscuz-user-settings.wpd-tooltip-left wpdtip:after{left:20px;}
    #wpcomm div:hover.wpdiscuz-user-settings.wpd-tooltip-left wpdtip{bottom:32px;}
    #wpcomm .wc-comment-link div:hover.wpd-tooltip-right wpdtip{bottom:30px;width:160px;}
    #wpcomm .wc-reply .wc-comment-link div:hover.wpd-tooltip-right wpdtip{bottom:28px;}
    #wpcomm div.wpd-stat-users.wpd-tooltip wpdtip:after{left:60%;}
    a.wc_tw,a.wc_go,a.wc_vk,a.wc_ok{position:relative;display:inline;}
    #wpcomm span.wc-vote-link{position:relative;display:inline;}
    #wpcomm span.wc-vote-link span{position:absolute;width:100px;color:#FFFFFF;background:#555555;height:auto;line-height:17px;padding:8px 10px;font-size:12px;text-align:center;visibility:hidden;border-radius:6px;display:inline-block;}
    #wpcomm span.wc-vote-link span:after{content:'';position:absolute;top:100%;left:50%;margin-left:-8px;width:0;height:0;border-top:8px solid #555555;border-right:8px solid transparent;border-left:8px solid transparent;}
    #wpcomm span:hover.wc-vote-link span{visibility:visible;opacity:1;bottom:30px;left:calc(50% - 50px);z-index:999999;}
    .wpdiscuz-front-actions{width:100%;box-sizing:border-box;padding:10px 10px 10px 15px;margin-top:20px;margin-bottom:0px;text-align:right;}
    #wpcomm .wc-cta-button-x{color:#777777;}
    @media screen and (max-width:800px){
        #wpcomm .wpd-form-row .wpd-form-col-left{width:100%;float:none;}
        #wpcomm .wpd-form-row .wpd-form-col-right{width:100%;float:none;}
        #wpcomm .wc-field-comment .wc-field-avatararea{display:none!important;}
        #wpcomm .wc-field-comment .wc-field-textarea{margin-left:0px;}
        #wpcomm .wc_comm_form.wc_main_comm_form .wc-field-textarea .wpdiscuz-textarea-wrap textarea{padding:25px 18px 10px 20px;font-size:16px;}
        #wpcomm .wc-form-footer{margin-left:0px;}
        #wpcomm .wc-comment-left .wpd-xborder,#wpcomm .wc-reply .wc-comment-left .wpd-xborder{display:none;}
        #wpcomm .wpd-form-col-left{width:100%;float:none;display:block;}
        #wpcomm .wpd-form-col-right{width:100%;float:none;display:block;padding:0;}
        #wpcomm .wpd-form-row .wpdiscuz-item{width:100%;margin:0 auto;display:block;float:none;}
        #wpcomm .wc-reply{margin-left:25px!important;}
        #wpcomm .wc-comment-author{padding-left:5px;font-size:16px;}
        #wpcomm .wc-comment-author a{font-size:14px;width:100%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;display:inline;}
        #wpcomm .wc-comment-link{display:block;float:right;}
        #wpcomm .wc-comment-text{font-size:13px!important;}
        #wpcomm .wc-comment .wc-comment-left{float:none!important;margin-bottom:8px;width:100%!important;}
        #wpcomm .wc-comment .wc-comment-right,#wpcomm .wc-reply .wc-comment-right{margin-left:0!important;}
        #wpcomm .wc-comment .wc-comment-left .avatar{width:40px!important;height:40px!important;margin:0 5px 0 12px!important;float:left!important;display:block!important;}
        #wpcomm .wc-reply.wc-comment .wc-comment-left .avatar{width:26px!important;height:26px!important;margin:4px 3px 2px 3px!important;box-shadow:none!important;margin:10px 5px 0 12px!important;}
        #wpcomm .wc_comm_form.wc-secondary-form-wrapper .wc-field-comment .wc-field-textarea,#wpcomm .wc-secondary-form-wrapper .wc-form-footer{margin-left:0px;}
        #wpcomm .wc-field-submit{text-align:right;}
        #wpcomm .wc-comment-footer .wc-footer-left{float:none;display:block;padding:2px 5px;text-align:left;}
        #wpcomm .wc-comment-footer .wc-footer-right{float:none;display:block;padding:5px 5px 2px 5px;text-align:left;}
        #wpcomm .wc-comment-footer .wc-footer-left span{margin-bottom:7px;}
        #wpcomm .wc-comment-header{border-bottom:none!important;}
        #wpcomm div.wpd-tooltip wpdtip,#wpcomm div.wpd-tooltip-left wpdtip,#wpcomm div.wpd-tooltip-right wpdtip{width:160px;}
        #wpcomm div:hover.wpd-tooltip wpdtip{left:-75px;}
        #wpcomm .wpdiscuz-front-actions{text-align:left;}
        #wpcomm .wpdiscuz-front-actions .wpdiscuz-sort-buttons{display:block;}
        #wpcomm .wpdiscuz-form-bottom-bar .wpdiscuz-fbb-right .wpdiscuz-users{display:none;}
        #wpcomm .wpdiscuz-form-bottom-bar .wpdiscuz-fbb-right .wpdiscuz-stat.wpd-stat-users i{font-size:22px;}
        #wpcomm .wc-comment-header{border-bottom:none!important;padding-top:0px;height:40px;margin-left:60px;}
        #wpcomm .wc-reply .wc-comment-header{border-bottom:none!important;padding-top:5px;height:36px;margin-left:40px;}
    }
    @media screen and (max-width:440px){
        #wpcomm .wpdiscuz-form-bottom-bar .wpdiscuz-fbb-right{display:none;}
    }
    @media screen and (max-width:420px){
        #wpcomm .wpdiscuz-sort-buttons,#wpcomm .wpdiscuz-sort-button{font-size:11px!important;}
        #wpcomm .wc-form-footer{margin-left:0;}
        .wpdiscuz_auth .wc-field-submit{width:100%!important;}
    }
    @media screen and (max-width:360px){
        #wpcomm .wpdiscuz-form-bottom-bar .wpdiscuz-fbb-right .wpdiscuz-users{margin-right:0px;}
        #wpcomm .wpdiscuz-form-bottom-bar .wpdiscuz-fbb-left .wpdiscuz-stat{margin-right:8px;}
        #wpcomm .wpdiscuz-form-bottom-bar{padding:15px 0px 0px 2px;}
    }
}
/*! CSS Used from: https://kenhtuyensinh24h.vn/wp-content/plugins/wpdiscuz/assets/css/wpdiscuz-user-content.css?ver=5.3.5 ; media=all */
@media all{
    .wpd-clear{clear:both;}
}
/*! CSS Used from: Embedded */
#wpcomm .wc-form-wrapper{background:none;}
#wpcomm .wpdiscuz-front-actions{background:#F9F9F9;}
#wpcomm .wc-comment .wc-comment-right{background:#FEFEFE;}
#wpcomm .wc-reply .wc-comment-right{background:#F8F8F8;}
#wpcomm .wc-comment-right .wc-comment-text,#wpcomm .wc-comment-right .wc-comment-text *{font-size:14px;}
#wpcomm .wc-blog-administrator > .wc-comment-right .wc-comment-author,#wpcomm .wc-blog-administrator > .wc-comment-right .wc-comment-author a{color:#00B38F;}
#wpcomm .wc-blog-guest > .wc-comment-right .wc-comment-author{color:#00B38F;}
#wpcomm .wc-load-more-submit{border:1px solid #D9D9D9;}
#wpcomm .wpdiscuz-textarea-wrap{border:#D9D9D9 1px solid;}
#wpcomm .wc-comment-header{border-top:1px solid #dedede;}
#wpcomm .wc-reply .wc-comment-header{border-top:1px solid #dedede;}
#wpcomm button,#wpcomm input[type="submit"]{border:1px solid #00B38F;color:#FFFFFF;background-color:#00B38F;}
#wpcomm button:hover,#wpcomm button:focus,#wpcomm input[type="submit"]:hover,#wpcomm input[type="submit"]:focus{border:1px solid #333333;background-color:#333333;}
#wpcomm .wpdiscuz-sort-buttons{color:#777777;}
#wpcomm .wpdiscuz-sort-button{color:#DDDDDD;cursor:pointer;}
#wpcomm .wpdiscuz-sort-button:hover{color:#00B38F!important;cursor:pointer;}
#wpcomm .wpdiscuz-sort-button-active{color:#00B38F!important;cursor:default!important;}
#wpcomm .wc-cta-button,#wpcomm .wc-cta-button-x{color:#DDDDDD;}
#wpcomm .wc-vote-link.wc-up{color:#999999;}
#wpcomm .wc-vote-link.wc-down{color:#999999;}
#wpcomm .wc-vote-result{color:#999999;}
#wpcomm .wpf-cta{color:#999999;}
#wpcomm .wc-comment-link .wc-share-link .wpf-cta{color:#eeeeee;}
#wpcomm .wc-footer-left .wc-reply-button{border:1px solid #00B38F!important;color:#00B38F;}
#wpcomm .wpf-cta:hover{background:#00B38F!important;color:#FFFFFF;}
#wpcomm .wc-cta-button:hover{background:#00B38F!important;color:#FFFFFF;}
#wpcomm .wc-footer-right .wc-toggle,#wpcomm .wc-footer-right .wc-toggle i{color:#00B38F;}
#wpcomm .wc-follow{color:#DDDDDD;}
#wpcomm .wc-follow:hover i{color:#00B38F;}
.comments-area{width:auto;}
#wpcomm .wc-footer-left .wc-reply-button{border:1px solid #dedede!important;color:#ffffff;}
#wpcomm .wc-footer-left .wc-reply-button:hover{border:1px solid #00B38F!important;color:#ffffff;}
#wpcomm .wc-cta-button,#wpcomm .wc-cta-button-x{background:#2bb38f;}
#wpcomm .wc-cta-button,#wpcomm .wc-cta-button-x:hover{background:#888;}

/*! CSS Used from: https://kenhtuyensinh24h.vn/wp-content/themes/VietNIT/style.css */
#comments,#respond{margin:0 0 15px;}
.alt{border:1px solid #ddd;}
#wpcomm .avatar{border-radius:50%;padding:1px;margin:0 auto;float:none;display:inline;width:100%;height:auto;border:1px solid #ddd;border-radius:50%;box-shadow:none;}
#wpcomm .wc-blog-guest > .wc-comment-right .wc-comment-author{font-size:16px;width:40%;float:left;white-space:normal;text-align:left;padding:6px 0 2px 15px;color:#00B38F;}
#wc-comment-header{background:url(../images/comment.png) no-repeat left;padding-left:52px;padding-top:16px;background-position:0 4px;}
#wpcomm .wc_comm_form .wc-field-comment{background:#F9F9F9;padding:10px;margin-top:0;border:1px solid #f1f1f1;clear:both;}
#wpcomm .wc_comm_form .wc-field-comment .wc-field-avatararea{width:55px;float:left;margin-left:4px;margin-top:7px;}
#wpcomm .wc-field-textarea .wpdiscuz-textarea-wrap{background:#e4e4e4;}
#wpcomm .wc-field-textarea .wpdiscuz-textarea-wrap textarea{background:#e4e4e4;}
.wpdiscuz-front-actions{padding:5px 10px;}
#wpcomm .wc-comment-header{border:none;margin:0;}
#wpcomm .wc-comment .wc-comment-left .wpd-xborder{border:none;}
#wpcomm .wc-comment-footer{border-bottom:1px solid #ddd;}
#wpcomm .wc-footer-left .wc-cta-button,#wpcomm .wc-footer-left .wc-cta-button-x{font-size:11px;cursor:pointer;text-transform:uppercase;height:24px;padding:2px 7px 2px 5px;line-height:18px;display:inline-block;vertical-align:top;margin-right:2px;font-family:arial;}
#wpcomm .wc-cta-button,#wpcomm .wc-cta-button-x{background:#888888;border:1px solid #888888;color:#ffffff;}
#wpcomm .wc-comment .wc-comment-left{width:64px;}
#wpcomm .wc-footer-left .wc-cta-button-x,#wpcomm .wc-footer-left .wc-cta-button i{display:inline;}
#wc-comment-header h3{margin-top: -10px;}
#wc-comment-header p {font-style: italic;font-size: 15px;text-align: justify}

#comments h3{
        color: #084890;
    font-size: 20px;
}
#comments{
        padding-top:20px;
}