
@media (max-width: 575.98px) { 
    #admbackground {
     display: block!important; 
    }
    .cates-top-5-right img {
    height: auto;
    }
        .nav-tab-home{
        display:grid;
    }

    li.btn-view-all-tab {
    position: absolute;
    right: 10px;
    }
    .row .page-category-child{
        margin:0px;
    }
    img.img-fluid.logo.lazyloaded {
    padding-left: 10px;
    }
    .menu-footer{
        display:none;
    }
    .btn-view-all-tab {
    padding-bottom: 10px;
    }
    .block-one-left {
    padding-right: 0px;
    padding-top:50px;
    }
    .block-one-center ul {
    padding-left: 0px;
    padding-right: 0px;
    }
    .block-two-ct3{
        padding-left:0px;
        padding-right:0px;
    }
    .mobile-plr-10{
        padding-left:5px !important;
        padding-right:5px !important;
    }
    .block-one-center ul li {
    list-style: none;
    }
    .block-one-center ul li div{
        padding-left: 10px !important;
        margin-top: .1rem !important;
    }
    .block-one-center ul li div img{
        height:70px;
        border-radius: 5px;
    }
    .block-one-center ul li a {
        font-size: 17px;
        line-height: 22px;
    }
    .block-one-left ul li {
    padding: .5rem .5rem;
    }
    .block-two-ct3 h2 {
    font-size: 17px;
    padding:13px 0px;
    }
    .block-two-ct3 p {
    font-size: 16px;
    }
    .block-two-ct6-h2 li {
    padding-top: 1rem !important;
    }
    .block-two-ct6-h2 .col-md-8{
        padding-right:10px;
    }
    .siderbar img {
    max-height: 100px!important;
    }
    .siderbar ul li h2 {
    font-size: 17px;
        margin-left:-3rem;
    }
    .siderbar ul li{
        margin:0px;
    }
    .siderbar-mobile {
        margin-top:10px;
    background-color: #f5f6fa;
    }
    .siderbar-child a h2 {
    font-size: 17px;
    text-align: center;
    }
    .siderbar-cd {
    margin: 0px 0px;
    }
    .siderbar-1-title {
    font-size: 16px;
    }
    .block-one-left img {
    margin-bottom: 15px;
    }
    .block-two-ct3 img {
    margin-bottom: 15px;
    }
    .block-three ul li a {
    font-size: 16px;
    }
    .block-two-ct3{
        padding-bottom:10px !important;
        border: none;
    }
    .nav-footer {
    background-color: #fff;
    }
    .block-three ul li {
    padding-bottom: 10px;
    }
    .block-one-left ul li::before {
    content: "";
    }
    .block-one-left ul li {
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    }
    .block-one-left ul{
        padding-left:0px;
    }
    .page-content h1 {
        padding-left:0px;}
    .page-left{
        padding:0px;
    }
    .custom-post-type img{
       margin-top: 70px;
        margin-bottom: 1rem;
    }
    .page-left {
        font-size:15pt;
        text-align:left;
    }
    .page-left p{
        margin-bottom:10px;
    }
    .cates-top-5-left {
        padding: 5px 0px;
    }
    .cates-top-5-right .col-md-6{
        padding:5px 0px;
    }
    .mobile-img-post-bottom h2{
            font-size: 14px;
    padding: 13px 0px;
    font-weight: 400;
    
    }
    .block-two-link a{
        border:none;
    }
    .twitter-share-button {
    font-size: 9pt;
    background-color: #1b95e0;
    color: white;
    padding: 3px 11px 3px 6px;
    border-radius: .3rem;
    margin-bottom: -0.1rem;
    }
    .like-share-social{
        padding-bottom:30px;
        text-align:left!important;
    }
    .w-20 {
    /* width: 20%; */
    float: left;
    padding: 0px 5px;
    flex: 0 0 33.333333330%;
    }
    .mobile-hidden{
        display:none;
    }
    .mobile-img-post-bottom img{
        border-radius:5px;
    }
    .custom-post-type .col-md-5,.col-md-7{
        padding:0px 0px;
    }
    .likebox-post p{
        margin-bottom:0px;
    }
    .plr-10 {
    padding: 0px 0px !important;
    }
    .boder-solid-topsirderbar {
    border-left: none;
    border-right: none;
    border-bottom:none;
    border-top: solid 3px #deb552;
    }
    .w-30 {
    width: 100%;
    float: left;
    padding: 0px 10px;
    }
    .page-ads-img{
        display:none;
    }
    .page-siderbar ul li h2 {
    font-size: 17px;
    font-weight: 600;
        line-height: 1.36;
    }
    .page-siderbar-2 ul li h2 {
    font-size: 12pt;
    }
    .siderbar-item-child {
    padding: 10px 0px;
    }
    .mobile-pl-0{
        padding-left:0px;
    }
    .cates-top-5-right h2 {
    margin-top: -8px;
    }
    .page-category-child .col-5{
        padding-left:0px;
    }
    .page-category-child .col-7{
        padding-right:0px;
    }
    .page-category-child .col-7 p{
        display:none;
    }
    
    .page-category-child .col-7 h2{
        margin-top:0px;
    }
    .page-category .title-news {
    color: #085ca5;
    text-decoration: none;
    font-size: 18pt;
    /* margin-top: 8px; */
    line-height: 1.36;
    }
    .cates-top-5-right h2 a {
    color: #243a5e;
    text-decoration: none;
    font-size: 15pt;
    font-weight: bold;
    line-height: 1.36;
    }
    .cates-top-5-left h2 a {
    font-size: 20pt;
    line-height: 1.36;
    }
    .cates-top-5-left img {
        margin-bottom:20px;
    }
    .block-two-ct3-tab-mobile{
        display:table !important;
    }
    .block-two-ct3-tab .col-md-2 {
    display: inline-grid;
    padding-left: 5px;
    padding-right: 5px;
    }
}

@media (max-width: 767.98px) {
    #admbackground{
        display:block !important;
    }
    .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1!important;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    }
    .topbar-right ul li a {
        font-size: 5pt;
        padding: 6px 6px;
    }
    .navbar-brand>img {
    padding-left: 10px;
    }
    .block-two-ct3{
        display: block;
    }
    .block-two-title h2,p{
        text-align: justify;
    }
    .block-two-title{
        width: 100%;
    }
    .w-72{
        width: 100%;
        float: left;
    }
    .w-70{
        width: 100%;
    }
    .w-78{
        width: 100%;
    }
    .w-68{
        width: 100%;
        display: block;
    }
    .block-one-right{
        display: none;
    }
    .w-42{
        padding: 0rem 0.5rem;
    }
    .block-one-center{
        border-right: none;
    }
    .w-65{
        width: 100%;
    }
    .w-35{
        width: 100%;
    }
    .w-30 {
    width: 100%;
    }
    .social-left{
        display:none;
    }
    .block-three-right{
        display: none;
    }
    .block-one-left ul li{
        padding: .4rem .5rem;
    } 
    .w-70 {
    padding: 0px 15px;
    }
    .block-one-left h2{
        padding: 0rem .5rem;
    }
    .w-35 .col-md-12{
        padding-top: 1rem;
        padding-left: 0px;
        padding-right: 0px;
    }
    .siderbar{
        padding-top: 1rem;
    }
    .w-58{
        width: 100%;
    }
    .w-42{
        width: 100%;
    }
    .banner-adsaaaa{
        display: none;
    }
    .topbar{
        display: none;
    }
    .w-20{
        width: 100%;
    }
    .w-32{
        width: 100%;
    }
    .logo-banner{
        display: none;
    }
    .block-one-left{
        border: none;
    }
    .navbar{
        width: 100%;
        height: 60px;
        padding: .5rem 0rem;
        background: #243a5e;
    }
    .main-menu {
        padding: 0px;
    }
    .main-menu .container{
        padding: 0px;
        width: 100%;
        max-width:768px
    }
    
    #navbarSupportedContent{
        background-color: white;
        width: 100%;
    }

    .nav-item{
        background: none;
    }
    .nav-item-2{
        background: none;
    }
    .navbar-expand-md .navbar-nav .nav-link{
        color: black;
    }
    .navbar-home i {
        padding-left: 1rem;
    }
    .navbar-light .navbar-toggler {
        color: rgb(251, 249, 249);
        border-color: rgb(255, 255, 255);
        margin-right:1rem ;
    }
    .dropdown-menu {
        background: #297cc38a;
    }
    .main-menu {
        position: sticky;
        top: 0rem;
        z-index: 1;
    }
    .block-two-ct3 .w-20 a img {
    height: auto;
    width: 100%;
    }
    .page-content h1 {
    margin:0px;
    padding-top:70px;
    }
    .main-menu{
        display: none;
    }
    .block-two-link {
    margin: 0px;
    border-left: none; 
    border-right: none; 
    margin-top: -10px;
    color: #c27e29;
    }

        .block-two-title {
     padding-top: 1rem; 
     padding-bottom: .4rem; 
    padding-left: 1rem;
    }
    .like-share-social{
            text-align: left !important;
    }
    .custom-post-type{
        padding:0px;
        border:none;
        padding-top:70px;
    }
    .siderbar-item-child-2 img {
    display: block;
    margin: auto;
    }
}
@media(max-width: 788px){
    .topbar-right ul li a {
        font-size: 5pt;
        padding: 6px 6px;
    }
}
@media(max-weight:814.99px){

}

@media (max-width: 991.98px) { 
    .block-two-link{
        font-size: 10pt;
        padding-top: 0.3rem;
    }
    .btn-view-all{
        padding: 5px 10px;
    }
    .block-two-title h2{
        padding-right: 10px;
    }
    .navbar-nav{
        margin-left: -1rem!important;
    }
    
}


@media (max-width: 1199.98px) {  

}

@media (max-width: 1600.98px) {  

}