/* 1 Header */

.topbar{
    height: 40px;
}
.topbar-left{
    padding-top: 6px;
}
.topbar-left ul{
    float: left;
    padding-left: 0px;
}
.topbar ul li{
    list-style: none;
    display: inline;
}
.topbar-left ul li a i{
    color: #deb552;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    border: solid 1px #deb552;
    line-height:28px;
    text-align: center;
}
.topbar-left ul li a i{
    font-size: 12pt;
}
.topbar-left ul li span {
    color: #979797;
}
.topbar-right{
    padding-top: 6px;
}
.topbar-right ul{
    float: right;
}
.topbar-right ul li a{
    font-size: 8pt;
    padding: 6px 10px;
    background-color: #f2f2f3;
    border-radius: 14px;
    margin-left: 15px;
    text-decoration: none;
    color: #565454;
}

.topbar-right ul li a:hover{
    color: #60718e;
    background-color: #f3e5c2;
    
}
.topbar-right ul li a i {
    padding-right: 3px;
    font-weight: bold;
    color: #deb552;
    font-size: 11pt;
}
.topbar-right ul li a {
    font-size: 10pt;
    padding: 6px 11px;
    background-color: #f2f2f3;
    border-radius: 47px;
    margin-left: 3px;
    text-decoration: none;
    color: #565454;
    border: 1px solid #eaeaea;
    background: -webkit-gradient(linear,0 0,0 100%,from(#fdfdfd),to(#e9e9eb));
}
.topbar-right ul li a:hover {
    color: #eb7e29;
    background-color: #f3e5c2;
    text-decoration: underline;
}
.logo-banner{
    border-top: solid 1px #e1e1e1;
    height: 109px;
}
.logo-banner a{
    line-height: 109px;
}
.banner-adsaaaa{
    margin: 10px;
}

/* menu */
.main-menu{
    background-color: #243a5e;
}
.active-menu{
    background-color: #eba903;
    color: white;
    height: 40px;
    line-height: 1.5;
}
.navbar{
    height: 40px;
}
.navbar-home i{
    color: #eba903;
    font-size: 15pt;
}
.dropdown-menu {
    background: #243a5e;
    border: 0;
    border-radius: none;
    height: auto;
    margin-top: 0px;
    border-radius: 0px;
    padding: 0px;
}
.dropdown:hover>.dropdown-menu {
    display: block;
}
.dropdown-menu .nav-item{
    background:none;
}
.dropdown-item:hover{
    background:#085ca5;
    color:#fff;
}
.navbar-nav li a:hover{
    border-top: solid 3px #deb552;
    background-color: #e1e1e1;
    color: #000;
    font-size:.9rem;
}
.dropdown-menu a{
    color:#fff;
} 
.navbar-expand-md .navbar-nav .nav-link {
    color: #eee;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.nav-item{
  background: url('../images/menu-primary-1.png') right no-repeat; 
}
.nav-item-2{
    background: url('../images/menu-primary-2.png') right no-repeat; 
    padding-right: 12px;
  }
.navbar ul li:last-child a:hover{
        border-top: solid 3px #deb552;
    background-color: #e1e1e1;
    color: #000;
    font-size:.9rem;   
}
.navbar-light .navbar-nav .nav-item .active{
    background-color: #deb552;
    color: #eee !important;
}
/* ****************** END HEADER ********** */
 /* CONTENT HOME */
 .block-one{
     padding: 15px 0px;
     border: solid 2px #e1e1e1;
 }
 .block-one-left a {
     text-decoration: none;
 }
 .block-one-left img{
     border: 1px solid #e4e3e3;
     padding:3px;
 }
 .block-one-left {
     border-right: solid 1px #e1e1e1;
     padding-right:10px;
 }
 .block-one-left h2{
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    padding: 15px 0px;
    color: rgb(34, 51, 77);
 }
 .block-one-left ul{
    padding-left: 19px;
    list-style: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.36;
    text-align: left;
    color: rgb(34, 51, 77);
 }
 .block-two-ct6-h2 h2:hover{
     color: #c06a25;
 }
 .block-one-left ul li:hover a, li:hover{
     color: #c06a25;
 }
 .page-left ol li a:hover{
    color: #c06a25 !important;
 }
 .page-left ol li a{
     color: #243a5e;
 }
 .dropdown-menu{
     min-width: 12rem!important;
 }
 .block-one-left ul li a{
    padding: 0px;
    list-style: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.36;
    text-align: left;
    color: rgb(34, 51, 77);
 }
 .block-one-left ul li::before{
    content: "\f0a4"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
 }
 .block-one-center{
     border-right:solid 1px #e1e1e1 ;
 }
 .block-one-center h2{
    font-family: Helvetica;
    font-size: 17px;
    font-weight: bold;
    color:#c27e29;
    line-height: 19px;
    padding-left: 21px;
    border-top: solid 3px #deb552;
    padding-top: 15px;
    padding-bottom: 13px;
    margin:0px 10px;
 }
 .navbar ul li a{
     font-size:.9rem;
     color:#fff;
 }
 .block-one-center ul li a{
     font-size: 14px;
     color: #243a5e;
     line-height: 19px;
     text-decoration: none;
     font-weight:bold;
 }
 .block-one-center ul li{
    border-bottom: 1px solid #d2d2d2;
    list-style: inside;
    line-height: 0;
    padding: 10px 0px;
 }
 .block-one-center ul{
    padding-left: 20px;
    padding-right: 20px;
 }
 .block-one-center ul li a:hover{
     color: #c06a25;
 }
 .block-one-right{
     padding: 0px 10px;
 }
 .block-one-right img{
     border: solid 1px #e1e1e1;
     padding: 3px;
     margin-bottom: 13px;
 }
 /* block two */
 .block-two-title{
    padding-top: 0.7rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
 }
 .block-two-title h2{
    font-size: 19px;
    font-weight: bold;
    line-height: 1.32;
    text-align: left;
    color: rgb(32, 98, 192);
    padding-left: 10px;
    border-left: solid 2px rgb(32, 98, 192);
    padding-right: 20px;
 }
 .block-two-title span a{
     text-decoration: none;
 }
 .block-two-link a:hover{
    color: #c06a25;
}
 .block-two-link a{
    border-left: solid 2px #e1e1e1;
    border-right: solid 2px #e1e1e1;
    padding-left: 10px;
    padding-right: 10px;
    color: #e1e1e1;
    line-height: 1.36;
    text-align: left;
    color: rgb(38, 39, 40);
    line-height: 15px;
}
.block-two-ct3{
    border: solid 1px #e1e1e1;
    padding-top: 1.5rem;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}
.block-two-ct32 .col-md-3 a img {
    border: solid 1px #cdcdcd;
    padding: 3px;
    height: 150px;
    display: block;
    margin: auto;
}
.block-two-ct3 h2{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.47;
    color: rgb(38, 39, 40);
    padding: 13px 0px;
}
.block-two-ct3 img{
    border:solid 1px #cdcdcd;
    padding:3px;
}
.block-two-ct3 .col-md-3{
    padding-left:5px;
    padding-right:5px;
}
.block-two-ct3 .w-20 a img{
        border: solid 1px #cdcdcd;
    padding: 3px;
    height: 100px;
    display: block;
    margin: auto;
}
.block-two-ct3 a{
    text-decoration: none;
}
.block-two-ct3-h2:hover h2{
    color: #c06a25;
}
.block-two-ct3 p {
    font-size: 14px;
    line-height: 1.36;
    color: rgb(38, 39, 40);
}
.block-two-ct6-h2 li{
    display: flex;
    border-bottom: solid 1px #e1e1e1;
    margin: 0px 5px;
}
.block-two-ct6-h2{
    padding-left: 0rem;
}
.block-two-ct6-h2 li{
    padding-bottom: 0.5rem;
}
.block-two-ct6-h2 li:last-child{
    border-bottom: none;
}
.block-two-ct6-h2 h2{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.57;
    color: rgb(38, 39, 40);
    padding-top: 0px;
}
.block-three-title-child{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.36;
    color: rgb(38, 39, 40);
}
.block-three-title-child:hover{
    color: #c06a25;
}
.block-three ul li a{
    font-size: 14px;
    line-height: 1.36;
    color: #0f3d81;
}
.block-three ul li a:hover{
    color: #c06a25;
}
.block-three ul li {
    list-style: square;
}
.block-three-right img{
    padding: 0.5rem 0rem;
}
/* SIDERBAR */

.siderbar-1-title{
    font-size: 13px;
    font-weight: bold;
    line-height: 1.12;
    color: rgb(22, 68, 115);
}
.siderbar-child a h2{
    font-size: 10pt;
    padding-top: 9px;
    color: rgb(38, 39, 40);
}
.siderbar-child a h2:hover{
    color:#c06a25;
}
.siderbar-child{
    padding-left:5px;
    padding-right:5px;
    padding-top:10px;
}
.mt-15{
    margin-top:15px!important;
}
.siderbar-child img{
    border-radius:5px;
}
.siderbar-cd{
    margin:0px 10px;
}
.siderbar{
    border-top: solid 2px #0c73cc;
    background-color: #f5f6fa;
}
.border-radius-5{
    border-radius:5px;
}
.siderbar a{
    text-decoration: none;
}
.siderbar img{
    max-height: 70px!important;
}
.siderbar ul li{
    list-style: none;
    display: flex;
    border-top: solid 1px #e1e1e1;
    margin: 0rem 20px ;
    padding-bottom: 0.5rem;
        padding-top: 0.5rem;
}
.siderbar ul li a h2:hover{
    color: #c06a25;
}
.siderbar ul li h2{
    font-size: 14px;
    line-height: 1.47;
    color: rgb(38, 39, 40); 
}
.btn-view-all{

    padding: 5px 15px;
    border-radius: 16px;
    margin-left: 10px;
    font-size: 14px;
    background-color: #deb552;
    color: white;
}
.btn-view-all:hover{
    background-color: #cbcbcb;
    color: rgb(38, 39, 40);
}
.btn-view-all:hover i{
        color: white;
    background-color: #deb552;

}
.btn-view-all i{
    padding-left: 6px;
    border-radius: 50%;
    width: 17px;
    height: 16px;
    color: #565454;
    background-color: white;
    margin-left: 6px;
}
.dropdown-toggle::after{
    display: none;
}
.nav-footer{
    background-color: #e9e9e9;
    height: 40px;
    margin-top: 0.5rem;
}
.nav-footer ul {
    padding-left: 0rem;
}
.nav-footer ul li {
    list-style: none;
    display: inline;
    color: #6b6b6b;
    font-size: 14px;
    line-height: 40px;
    border-right: solid 1px #6b6b6b42;
    padding:0rem 0.5rem ;
}
.nav-footer ul li a{
    color: #6b6b6b;
    text-decoration: none;
}
.nav-footer ul li a:hover{
    color: #c06a25;
}
.nav-footer ul li:first-child{
    padding-left: 0rem;
}
.nav-footer ul li:last-child{
    border-right: none;
}
.nav-footer p{
    font-size: 14px;
    line-height: 1.36;
    text-align: left;
    color: rgb(84, 84, 84);
}
.footer-left-one{
    border: solid 1px #e1e1e1;
}
.footer-left-one-title{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.36;
    color: rgb(84, 84, 84);
}
.fb-page, 
.fb-page span, 
.fb-page span iframe[style] { 
    width: 100% !important; 
}
.footer-btn-chat{
    background-color: #243a5e;
    padding: 8px 14px;
    color: white;
}
.footer-btn-view{
    padding: 8px 12px;
    background-color: #eba903;
    color: white;
}
.footer-btn-view:hover{
    background-color: #deb552;
    color: white;
    text-decoration: none;
}
.footer-btn-chat:hover{
    text-decoration: none;
    color: white;
    background-color: #deb552;
}
.footer-bottom-end h3{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.36;
    color: rgb(82, 82, 82);
    padding: .7rem 0rem;
    margin: 0px;
}
.footer-bottom-end p{
    font-size: 14px;
    color: rgb(125, 121, 121);
    margin-bottom:.7rem;
}

/* page */
.boder-solid1 {
    border: solid 1px #e1e1e1;
}
.boder-solid-topsirderbar{
    border-left: solid 1px #e1e1e1;
    border-right: solid 1px #e1e1e1;
    border-bottom: solid 1px #e1e1e1;
    border-top: solid 3px #deb552;
}
.page-ads-img img{
    margin:auto;
}
.siderbar-item-child{
    padding :6px 0px;
}
.siderbar-item-child a{
        text-decoration: none;
}
.siderbar-item-child-2 a{
    text-decoration: none;
    color: rgb(36, 58, 94);
}
.siderbar-item-child-2 a:hover{
    color:#c06a25;
}
.siderbar-item-child-2 img{
        border-radius: 100%;
    width: 90px;
    height: 90px;
    border: solid 1px #cdcdcd;
    padding: 2px;
}
.siderbar-item-child a:hover{
    color:#c06a25 !important;
}
.siderbar-item-child img{
    border: solid 1px #cdcdcd;
    padding:3px;
}
.page-content h1{
    font-size: 28px;
    font-weight: bold;
    line-height: 1.18;
    color: rgb(36, 58, 94);
    padding-bottom: 10px;
    padding-left: 15px;
    border-bottom: dashed 1px #cdcdcd;
    /* padding-left: 20px; */
    margin: 0px 20px 13px 20px;
}
.page-left{
    padding:10px;
    text-align: justify;
}
.page-left img{
    max-width: 100%;
    margin: auto;
    text-align: center;
    display: block;
}
.page-left a{
    color:#06c !important;
    font-weight: normal;
}
.page-left a:hover{
    color:#d25001 !important;
}
.page-left h2,h3,h4,h5,h6{
    text-transform: capitalize;
    color: rgb(36, 58, 94);
}
.page-left h2{
    font-size:1.3rem;
    font-weight:bold;
}
.page-left h3,h4,h5,h6{
    padding-top:.5rem;
    font-size:1rem;
    font-weight:bold;
}
.breabcrumb{
    border-top: dotted 2px #e1e1e1;
    border-bottom: dotted 2px #e1e1e1;
    margin-left: 0px;
}
.page-siderbar-title{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding: .6rem 0rem;
    color: rgb(36, 58, 94);  
}
.page-siderbar ul li{
    list-style: none;
    display: flex;
    border-bottom: solid 1px #e1e1e1;
}
.page-siderbar ul li:last-child{
    border-bottom: none;
}
.page-siderbar ul li h2{
    font-size: 11pt;
    color: rgb(36, 58, 94);  
}
.page-siderbar ul li h2:hover{
    color: #eba903;
}
.page-siderbar-2 ul li{
    list-style: none;
    display: grid;
    float: left;
    padding: 0rem .3rem!important;
}
.page-siderbar-2 ul li h2{
    font-size: 10pt;
    text-align: center;
    padding-top: .7rem;
    line-height: 1.4;
}
.page-ads-img img{
    padding-bottom: .5rem;
}
.page-text ul li{
    color: rgb(38, 39, 40);

}
.page-text ul li:hover{
    color: rgb(38, 39, 40);

}

table {
	border-spacing: 0;
	border-collapse: collapse;
}
td {
	padding: 0;
}
table {
	background-color: transparent;
}


:focus {
	outline: 0;
}

.page-text table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
}

.page-text tbody {
	border-bottom: 1px solid #ddd;
}

td {
	text-align: left;
}

.page-text td {
	border-top: 1px solid #ddd;
}

:focus {
	color: #333;
	outline: #ccc solid 1px;
}

@media all {
	.page-text table {
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
		margin-bottom: 1em;
		border: none;
		    overflow: scroll;
	}
	.page-text table td {
		border: none;
		background: 0 0;
		text-align: left;
		float: none!important;
	}
	.post-content-text table tbody td {
		vertical-align: top;
	}
	.page-text table tbody td {
		border-top: 1px solid #ddd;
		border-right: 1px solid #ddd;
		padding:5px 13px;
		line-height:normal;
	}
	.page-text table tbody {
		border-left: 1px solid #ddd;
	}
	.post-content-text table thead td {
		vertical-align: top;
	}
	.page-text table thead td {
		border-top: 1px solid #ddd;
		border-right: 1px solid #ddd;
		padding:5px 13px;
		line-height:normal;
	}
	.page-text table thead {
		border-left: 1px solid #ddd;
		background-color: #f5f5f5;
	}
	.page-text table tbody td:last-child {
	    boder-right:none;
	}
	.page-text table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
    }
}
/* socical */
.twitter-share-button{
    background-color: #1b95e0;
    color: white;
    padding: 1px 8px 1px 6px;
    border-radius: .3rem;
    margin-bottom: -0.1rem;
}
.twitter-share-button:hover{
    text-decoration: none;
    color: white;
    background-color: #0c7abf;
}
.social-left{
    /* position: sticky; */
}
.social-left ul li{
    list-style: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 16pt;
    line-height: 40px;
    background-color: rgb(22, 68, 115);
    margin-top: .6rem;
}
.social-left ul li a{
    color: white;
}
.social-left .page-youtube {
    background-color: #e73d2c;
}
.social-left .page-twitter{
    background-color: #47ade9;
}
.social-left .page-facebook{
    background-color: #3a5ba0;
}
.social-left .page-comment{
    background-color: #64b7f3;
}
.span-line-height-fb-btn{
    line-height: 20px;
}
/* end page */
.w-70{
    width: 70%;
    float: left;
        padding: 0px 10px;
}
.plr-10{
    padding: 0px 10px !important;
}
 .w-68{
     width: 68%;
     float: left;
 }
 .w-65{
    width: 65%;
    float: left;
}
 .w-58{
     width: 58%;
     float: left;
 }
 .w-42{
     width: 42%;
     float: left;
 }
 .w-35{
    width: 35%;
    float: left;
}
 .w-32{
     width: 32%;
     float: left;
 }
.w-30{
    width: 30%;
    float: left;
    padding: 0px 10px;
}
.w-20{
    width:20%;
    float:left;
    padding:0px 5px;
    flex: 0 0 20%;
}
.w-20 img{
    border: solid 1px #cdcdcd;
    padding:2px;
}
.w-12{
    width:12%;
    float:left;
}
.w-78{
    width:88%;
    float:left;
}
 /* END CONTENT HOME */

.page-category .title-news {
    color: #085ca5;
    text-decoration: none;
    font-size: 15pt;
}
.page-category .title-news:hover{
    color: #c06a25;
}
.page-category-child{
    
}
.social-left-child{
    padding-left:40%;
}
.cates-top-5-left h2 a{
    color: #243a5e;
    text-decoration: none;
    font-size: 16pt;
}
.cates-top-5-right h2 a{
    color: #243a5e;
    text-decoration: none;
    font-size: 11pt;
    font-weight:bold;
}
.cates-top-5-right{
    text-align:left;
}
.cates-top-5-right img {
    height:100px;
    display:block;
    margin:auto;
    border-radius:5px;
    padding:3px;
    border: solid 1px #cdcdcd;
}
.cates-top-5-left img {
    border: solid 1px #cdcdcd;
    padding:3px;
    display:block;
    margin:auto;
}
.cates-top-5-right .col-md-6{
    padding-bottom:10px;
}
.cates-top-5-right h2{
    line-height:.6;
    padding-left:5px;
}
.cates-top-5-left h2{
    line-height:1;
}
.cates-top-5 h2 a:hover{
    color:#c06a25;
}
.cates-top-5-row{
    padding-bottom:15px;
    border-bottom: solid 2px #cdcdcd;
}
.page-category .page-left{
    padding:15px;
}
.page-category-child h2{
    line-height: 1.4rem;
    margin-top: -6px;
}
.page-category-child img{
    border:solid 1px #cdcdcd;
    padding:3px;
    border-radius:5px;
    display:block;
    margin:auto;
}
.pagination{
    float: right;
    padding-top: 20px;
}
.custom-post-type h1{
    font-size: 28px;
    font-weight: bold;
    line-height: 1.18;
    color: rgb(36, 58, 94);
    padding-bottom: 10px;
    /* padding-left: 15px; */
    border-bottom: dashed 1px #cdcdcd;
}
.custom-post-type{
    border:solid 1px #cdcdcd;
    padding:15px 0px;
    margin-bottom: 20px;
}
.btn-view-all-tab{
    padding-top:.5rem;
}
.block-two-link{
    margin: 0px 15px;
    border-left: solid 2px #e1e1e1;
    border-right: solid 2px #e1e1e1;
    padding-left: 10px;
    padding-right: 10px;
    color: #e1e1e1;
    line-height: 1.36;
    text-align: left;
    color: rgb(38, 39, 40);
    line-height: 1.5rem;
}
.nav-tab-home li a:hover{
    text-decoration: none;
}
.nav-tab-home li a h2:hover,.block-two-link:hover{
    color: #c06a25;
}
.block-two-ct3-tab .col-md-2 {
    display: inline-grid;
}
.block-two-ct3-tab{
    display: inline-table;
}
.custom-post-type p{

    margin-bottom:0px;
}
.cate-lien-thong h3{
    font-size: 12pt;
    color: #0f3d81;
    text-align: left;
    line-height:1.36;
    padding-top: .6rem;
}
.page-lienthong-content img {
    width:100%;
    display:block;
    margin:auto;
}
.cate-lien-thong{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.cate-lien-thong .col-md-2{
    padding-top: 1rem;
}
.cate-lien-thong a:hover{
    text-decoration: none;
}
.page-lienthong-content{
    padding-top: 1rem;
    border-top: solid 1px #cdcdcd;
}
.cate-lien-thong img {
    border-radius: 100%;
    width: 120px;
    height: 120px;
    border: solid 1px #cdcdcd;
    padding: 2px;
    display: block;
    margin: auto;
}
.page-left h3 span{
    text-transform: capitalize;
    color: rgb(36, 58, 94) !important;
}
figcaption{
    text-align:center;
}
.page-category-child .col-md-9 p{
    margin-bottom:0px;
}
.custom-post-type img{
    width:100%;
    display:block;
    margin:auto;
}
@media (min-width:768px){
.navbar{border-radius:4px;}
}
@media (min-width:768px){
.navbar-header{float:left;}
}
.navbar-collapse{padding-right:15px;padding-left:15px;overflow-x:visible;-webkit-overflow-scrolling:touch;border-top:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.1);box-shadow:inset 0 1px 0 rgba(255,255,255,.1);}
@media (min-width:768px){
.navbar-collapse{width:auto;border-top:0;-webkit-box-shadow:none;box-shadow:none;}
.navbar-collapse.collapse{display:block!important;height:auto!important;padding-bottom:0;overflow:visible!important;}
.navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse{padding-right:0;padding-left:0;}
}
.navbar-fixed-top .navbar-collapse{max-height:340px;}
@media (max-device-width:480px)and (orientation:landscape){
.navbar-fixed-top .navbar-collapse{max-height:200px;}
}
.navbar-static-top{z-index:1000;border-width:0 0 1px;}
@media (min-width:768px){
.navbar-static-top{border-radius:0;}
}
.navbar-fixed-top{position:fixed;right:0;left:0;z-index:1030;}
@media (min-width:768px){
.navbar-fixed-top{border-radius:0;}
}
.navbar-fixed-top{top:0;border-width:0 0 1px;}
.navbar-brand{float:left;height:50px;padding:15px 15px;font-size:18px;line-height:40px;}
.navbar-brand>img{display:block;}
.navbar-toggle{position:relative;float:right;padding:9px 10px;margin-top:8px;margin-right:15px;margin-bottom:8px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px;}
@media (min-width:768px){
.navbar-toggle{display:none;}
}
@media (min-width:768px){
.navbar-right{float:right!important;margin-right:-15px;}
}
.close{float:right;font-size:21px;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;filter:alpha(opacity=20);opacity:.2;}
button.close{-webkit-appearance:none;padding:0;background:0 0;border:0;}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0;}
.modal.fade .modal-dialog{-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);-o-transform:translate(0,-25%);transform:translate(0,-25%);}
.modal-dialog{position:relative;width:auto;margin:10px;}
.modal-content{position:relative;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;outline:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5);}
.modal-header{min-height:16.43px;padding:15px;border-bottom:1px solid #e5e5e5;}
.modal-header .close{margin-top:-2px;}
.modal-title{margin:0;line-height:1.42857143;}
.modal-body{position:relative;padding:15px;}
.modal-footer{padding:15px;text-align:right;border-top:1px solid #e5e5e5;}
@media (min-width:768px){
.modal-dialog{width:600px;margin:30px auto;}
.modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5);}
}
.modal-footer:after,.modal-footer:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before{display:table;content:" ";}
.modal-footer:after,.navbar-collapse:after,.navbar-header:after,.navbar:after{clear:both;}
.navbar-toggle{padding:0;}
.navbar-brand{padding:5px 10px;}
.navbar-fixed-top{display:none;}
ul.icon-nav li{float:left;list-style:none;padding:0 15px 0 15px;border-left:1px solid #4e5bb8;height:33px;}
ul.icon-nav li:last-child{padding-right:0;}
a.ttgd{height:29px;display:block;}
img.icon-news{width:25px;}
img.icon-toggle{width:40px;}
.logo{width:135px;}
.clear{clear:both;}
.view{background:#fff;}
.view .navbar-collapse{padding:0;}
.menu_cat_main li{background-color:#efeff4;border-radius:3px;box-shadow:0 1px 1px #dedee3;list-style:none;}
.menu_cat_main li a{display:block;padding:10px 0;}
.menu_cat_main li span{display:block;text-align:center;font:normal 12px/1.3 arial;color:#505050;}
.menu_cat_main li span i{color:#2d5be3;}
.menu_cat_main li span.txt{margin-top:10px;text-transform:uppercase;}
.view .navbar-collapse{padding:0;}
.menu_cat_main{overflow:hidden;display:grid;grid-template-columns:repeat(3,1fr);grid-gap:10px;padding:10px;}
.menu_cat_sub{overflow:hidden;padding-bottom:20px;}
.menu_cat_sub h4{border-top:dotted 1px #dcdcdc;padding:10px 0;margin:0 10px;font:normal 13px/1.3 arial;color:#888;}
.menu_cat_sub ul{overflow:hidden;text-align:center;display:grid;grid-template-columns:49% 49%;grid-gap:10px 2%;padding:10px;}
.menu_cat_sub li{background-color:#f5f7f7;border-radius:3px;border:solid 1px #dfe3e6;list-style:none;}
.menu_cat_sub li a{display:block;font:bold 12px/1.3 arial;text-align:center;color:#666;padding:10px 0;text-transform:uppercase;}
.menu_cat_sub li:last-child{background:-webkit-gradient(linear,0 0,0 100%,from(#e4b639),to(#c66500));grid-column:1/span 2;}
.menu_cat_sub li:last-child>a{color:#fff !important;}
.ovh li{width:120px;}
.menu_policy{display:grid;grid-template-columns:1fr 1fr;grid-gap:10px;padding:10px;}
.menu_policy li{background:-webkit-gradient(linear,0 0,0 100%,from(#ffd000),to(#ff5a00));border-radius:3px;box-shadow:0 2px 4px #666;list-style:none;}
.menu_policy li a{display:block;padding:10px 0;}
.menu_policy li span{display:block;text-align:center;font:normal 13px/1.3 arial;color:#fff;text-transform:capitalize;}
.menu_policy li:first-child{background:-webkit-gradient(linear,0 0,0 100%,from(#4f8bfd),to(#0229ea));}
@media all and (min-width:320px) and (max-width:1184px){
.modal{top:60px;}
.navbar-custom{display:block;}
h4{font-size:17px;}
}
@media all and (min-width:768px) and (max-width:1184px){
.navbar-custom{display:none!important;}
}
@media all and (min-width:320px) and (max-width:1184px){
.view .navbar-collapse{max-height:495px;}
}
@media (min-width:768px){
.navbar{border-radius:4px;}
}
@media (min-width:768px){
.navbar-header{float:left;}
}
.navbar-collapse{padding-right:15px;padding-left:15px;overflow-x:visible;-webkit-overflow-scrolling:touch;border-top:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.1);box-shadow:inset 0 1px 0 rgba(255,255,255,.1);}
.navbar-collapse.in{overflow-y:auto;}
@media (min-width:768px){
.navbar-collapse{width:auto;border-top:0;-webkit-box-shadow:none;box-shadow:none;}
.navbar-collapse.collapse{display:block!important;height:auto!important;padding-bottom:0;overflow:visible!important;}
.navbar-collapse.in{overflow-y:visible;}
.navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse{padding-right:0;padding-left:0;}
}
.navbar-fixed-top .navbar-collapse{max-height:340px;}
@media (max-device-width:480px)and (orientation:landscape){
.navbar-fixed-top .navbar-collapse{max-height:200px;}
}
.navbar-static-top{z-index:1000;border-width:0 0 1px;}
@media (min-width:768px){
.navbar-static-top{border-radius:0;}
}
.navbar-fixed-top{position:fixed;right:0;left:0;z-index:1030;}
@media (min-width:768px){
.navbar-fixed-top{border-radius:0;}
}
.navbar-fixed-top{top:0;border-width:0 0 1px;}
.navbar-brand{float:left;height:50px;padding:15px 15px;font-size:18px;line-height:40px;}
.navbar-brand:focus,.navbar-brand:hover{text-decoration:none;}
.navbar-brand>img{display:block;}
.navbar-toggle{position:relative;float:right;padding:9px 10px;margin-top:3px;margin-right:15px;margin-bottom:8px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px;}
.navbar-toggle:focus{outline:0;}
@media (min-width:768px){
.navbar-toggle{display:none;}
}
@media (min-width:768px){
.navbar-right{float:right!important;margin-right:-15px;}
}
.close{float:right;font-size:21px;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;filter:alpha(opacity=20);opacity:.2;}
.close:focus,.close:hover{color:#000;text-decoration:none;cursor:pointer;filter:alpha(opacity=50);opacity:.5;}
button.close{-webkit-appearance:none;padding:0;cursor:pointer;background:0 0;border:0;}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0;}
.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);-o-transform:translate(0,-25%);transform:translate(0,-25%);}
.modal-dialog{position:relative;width:auto;margin:10px;}
.modal-content{position:relative;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;outline:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5);}
.modal-header{min-height:16.43px;padding:15px;border-bottom:1px solid #e5e5e5;}
.modal-header .close{margin-top:-2px;}
.modal-title{margin:0;line-height:1.42857143;}
.modal-body{position:relative;padding:15px;}
.modal-footer{padding:15px;text-align:right;border-top:1px solid #e5e5e5;}
@media (min-width:768px){
.modal-dialog{width:600px;margin:30px auto;}
.modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5);}
}
.modal-footer:after,.modal-footer:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before{display:table;content:" ";}
.modal-footer:after,.navbar-collapse:after,.navbar-header:after,.navbar:after{clear:both;}
.navbar-toggle{padding:0;}
.navbar-brand{padding: 5px 0px;
    margin-right: 0px;}
.navbar-fixed-top{display:none;}
ul.icon-nav li{float:left;list-style:none;padding:0 15px 0 15px;border-left:1px solid #4e5bb8;height:33px;}
ul.icon-nav li:last-child{padding-right:0;}
a.ttgd{height:29px;display:block;}
img.icon-news{width:25px;}
img.icon-toggle{width:40px;}
.logo{width:135px;}
.clear{clear:both;}
.view{background:#fff;}
.view .navbar-collapse{padding:0;}
.menu_cat_main li{background-color:#efeff4;border-radius:3px;box-shadow:0 1px 1px #dedee3;list-style:none;}
.menu_cat_main li a{display:block;padding:10px 0;}
.menu_cat_main li span{display:block;text-align:center;font:normal 12px/1.3 arial;color:#505050;}
.menu_cat_main li span i{    color: #243a5e;
    font-size: 11pt;}
.menu_cat_main li span.txt{margin-top:10px;text-transform:uppercase;}
.view .navbar-collapse{padding:0;}
.menu_cat_main{overflow:hidden;display:grid;grid-template-columns:repeat(3,1fr);grid-gap:10px;padding:10px;}
.menu_cat_sub{overflow:hidden;padding-bottom:20px;}
.menu_cat_sub h4{border-top:dotted 1px #dcdcdc;padding:10px 0;margin:0 10px;font:normal 13px/1.3 arial;color:#888;}
.menu_cat_sub ul{overflow:hidden;text-align:center;display:grid;grid-template-columns:49% 49%;grid-gap:10px 2%;padding:10px;}
.menu_cat_sub li{background-color:#f5f7f7;border-radius:3px;border:solid 1px #dfe3e6;list-style:none;}
.menu_cat_sub li a{display:block;font:bold 12px/1.3 arial !important;text-align:center;color:#666 !important;padding:10px 0;text-transform:uppercase;}
/*.menu_cat_sub li:last-child{background:-webkit-gradient(linear,0 0,0 100%,from(#00afef),to(#2a55a3));grid-column:1/span 2;}*/
.menu_cat_sub li:last-child>a{color:#fff;}
.ovh li{width: 100%;}
.menu_policy{display:grid;grid-template-columns:1fr 1fr;grid-gap:10px;padding:10px;}
.menu_policy li{background:-webkit-gradient(linear,0 0,0 100%,from(#ffd000),to(#ff5a00));border-radius:3px;box-shadow:0 2px 4px #666;list-style:none;}
.menu_policy li a{display:block;padding:10px 0;}
.menu_policy li span{display:block;text-align:center;font:normal 13px/1.3 arial;color:#fff;text-transform:capitalize;}
.menu_policy li{background:-webkit-gradient(linear,0 0,0 100%,from(#4f8bfd),to(#0229ea));}
.navbar-brand  navbar-home{
    padding:5px 15px;
}
@media all and (min-width:320px) and (max-width:1184px){
.modal{top:60px;}
.navbar-custom{display:block;}
}
@media all and (min-width:768px) and (max-width:1184px){
.navbar-custom{display:none!important;}
}
@media all and (min-width:320px) and (max-width:1184px){
.view .navbar-collapse{max-height:495px;}
}
.page-left p{
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"!important;
}