strong, b { font-size: inherit !important; }

.wp-caption { max-width: 100% !important; }

.headline_dt { background: #1678c0; font-size: 38px; color: #fff; text-align: center; padding: 15px 0; }
.headline_dt span.do { color: #fff600; }

.headline { color: #454545; font-size: 25px; text-align: center; padding-top: 10px; padding-bottom: 10px; margin: 0; }
.headline span { color: #2194d2; font-size: 30px; font-weight: bold; }

.related_services .tit { margin: 50px 0 20px !important; border-bottom: 1px dashed #a1a1a1 !important; font-size: 26px !important; padding-bottom: 15px !important; letter-spacing: -1px !important; font-weight: 400 !important; text-transform: capitalize !important; }

.grid_2cols { display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px; }
.grid_2cols .grid_item { border-radius: 15px; background: #36393c; height: 165px; color: #fff; align-items: center; display: flex; justify-content: center; padding: 25px; text-align: center; font-size: 18px; position: relative; overflow: hidden; background-position: center center !important; background-size: cover !important; }
.grid_2cols .grid_item:before { content: ''; position: absolute; width: 100%; height: 100%; background-color: #29334896; }
.grid_2cols .grid_item span { z-index: 2; }
.grid_2cols .grid_item-2cols { grid-column: 1 / span 2; }
.grid_2cols .overlay { position: absolute; width: 100%; height: 100%; background-color: #293347; opacity: 0; -webkit-transition: 0.45s ease-in-out; transition: 0.45s ease-in-out; z-index: 3; display: flex; align-items: center; justify-content: center; }
.grid_2cols a { text-decoration: none !important; z-index: 100; color: #fff !important; }
.grid_2cols .grid_item:hover .overlay { opacity: 1; }

.detail_btn { margin: 0 auto; font-size: 16px; padding: 1rem 1.3rem; font-weight: 400; border: 2px solid #8c43ff; border-radius: 100px; display: block; z-index: 100; color: #fff; }
.detail_btn:hover { text-decoration: none; background-color: #8c43ff; color: #fff; }

/* Woodiscuz */
#woopcomm { width: 100%; margin: 0; margin-top: 40px; border: 1px dashed #a1a1a1 !important; }

/* Footer */
.footer_inn { padding: 20px 0; }

.woocommerce nav.woocommerce-pagination { clear: both; margin: 10px 0 30px; }

/* Menu */
.menu_cat_main { overflow: hidden !important; display: grid !important; grid-template-columns: repeat(3, 1fr) !important; grid-gap: 10px !important; padding: 10px !important; }

.menu_cat_main li { width: unset !important; min-height: unset !important; float: none !important; height: unset !important; margin: 0 !important; }

.menu_cat_main li span.txt { padding: 0 8px !important; }

.menu_cat_sub ul { display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 10px; padding: 0 10px; }

.menu_cat_sub li { width: unset !important; min-height: unset !important; display: block !important; }

/* Reset Style */
.nav-tabs, .nav-tabs > li > a, .nav-tabs > li > a:hover { border: none !important; background: transparent !important; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border: none !important; color: #fd6533 !important; }

/* Customize */
.nav-tabs { max-width: 850px; width: 100% !important; margin: 0px auto 30px !important; display: grid; grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); justify-content: center; }
.nav-tabs a { color: #414141 !important; font-size: 15px !important; }
.nav-tabs a:hover { color: #145c92 !important; }
.nav-tabs::before, .nav-tabs::after { display: none !important; }

.nav-tabs > li { float: none !important; margin-bottom: 0 !important; }

.nav-tabs > li > a { margin: 0 !important; text-align: center; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border: none !important; color: #145c92 !important; }

.nav-tabs [class^="flaticon-"]:before, .nav-tabs [class*=" flaticon-"]:before, .nav-tabs [class^="flaticon-"]:after, .nav-tabs [class*=" flaticon-"]:after { font-size: 50px; display: block; margin: 0; text-align: center; }

.related_list .slick-list { padding-bottom: 50px; }
.related_list .product_list_item { margin: auto; padding-bottom: 20px; position: relative; padding: 0 10px 20px; }
.related_list .product_list_item .tit { width: calc(100% - 20px); }

section.related { margin-top: 40px; }
section.related h2 { text-transform: uppercase; font-weight: bold; color: #414141; font-size: 16px; border-left: 5px solid #0a9dcc; padding: 8px 10px 6px 10px; background: #f3f3f3; width: 40%; margin-top: 0; }

.related_nav { display: flex; float: right; width: 45px; justify-content: space-between; }

.btn_sl { color: #a6a7ab; border: 1px solid #a6a7ab; border-radius: 100px; height: 20px; width: 20px; background: transparent; display: flex; align-items: center; justify-content: center; }

.btn_sl:hover { color: #fff; background: #f05a30; border-color: #f05a30; }

/* Product List */
.product_list { display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); grid-gap: 30px 15px; margin-bottom: 50px; }

.product_list-4_cols { grid-template-columns: repeat(4, 1fr); }

.product_list_item a { display: block; font-size: 13px; line-height: 1.6em; text-decoration: none; text-indent: 0; text-decoration: none !important; }
.product_list_item .tit { transition: 0.2s cubic-bezier(0.42, 0, 0.58, 1); padding: 5px 20px 5px 10px; font-size: 13px; background-color: #ffffff; margin: 0; display: flex; line-height: 20px; -webkit-box-pack: justify; justify-content: space-between; color: #433e59; position: absolute; width: 100%; bottom: 0; font-weight: bold; }
.product_list_item .tit span { backface-visibility: hidden; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.product_list_item { list-style: none; width: fit-content; margin: auto; padding-bottom: 20px; position: relative; }
.product_list_item:after { content: ''; transition: 0.2s cubic-bezier(0.42, 0, 0.58, 1); transition: 0.2s cubic-bezier(0.42, 0, 0.58, 1); transition: box-shadow 0.2s cubic-bezier(0.42, 0, 0.58, 1); width: calc(100% - 20px); height: 100%; display: block; background-color: #ffffff; box-shadow: 0px 5px 20px 0px rgba(51, 73, 94, 0.05); content: ''; position: absolute; bottom: 0; left: 10px; z-index: -1; }
.product_list_item:hover:after { box-shadow: 0px 10px 40px 0px rgba(51, 73, 94, 0.15); }

/* Single Product Page 
------------------------------------*/
body.single-product #inner { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; width: 1170px; margin-bottom: 50px; }
body.single-product img.alignnone { margin: 0; }
body.single-product img { max-width: 100%; }

.woocommerce .products ul::after, .woocommerce .products ul::before, .woocommerce ul.products::after, .woocommerce ul.products::before { display: none; }

.woocommerce div.product .woocommerce-tabs ul.tabs, .addtoany_share_save_container { display: none; }

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary { float: none; width: unset; margin: 0; }

.woocommerce .woocommerce-breadcrumb { padding: 8px 15px; margin-bottom: 20px; list-style: none; background-color: #f5f5f5; border-radius: 4px; font-size: 13px; margin: 20px 0px 20px; border-bottom: 1px solid #f1f1f1; color: #191818; margin-top: 0; }

.woocommerce .woocommerce-breadcrumb a { color: #0d72c7; }

.woocommerce div.product .product_title { color: #003366; font-size: 22px; text-transform: none; font-weight: bold; margin-bottom: 30px; margin-bottom: 10px; margin-top: 15px; font-size: 26px; padding-bottom: 15px; letter-spacing: -1px; font-weight: 400; text-transform: capitalize; }

.woocommerce div.product .product_title { font-size: 35px; font-weight: bold; color: #3f4044; font-family: "texgbold"; }

.woocommerce div.product .woocommerce-tabs .panel { margin: 0; border: none; box-shadow: none; }

/* Sidebar */
.single-product { /* Steps */ /* Product Desc */ }
.single-product .taxonomy-description h1, .single-product .widget-area h4, .single-product .widget-area .title { font-size: inherit; color: inherit; font-weight: inherit; margin: 0; text-transform: inherit; background: unset; padding: 0; margin: 0 0 10px 0; color: #0a5495; font-size: 18px; font-weight: bold; line-height: 22px; }
.single-product .sidebar { width: 300px; }
.single-product .sidebar .widget { background-color: unset !important; border: unset !important; margin: 0 !important; padding: 0 !important; }
.single-product .prd-excerpt .textwidget { padding: 0 !important; }
.single-product .prd-excerpt p { margin: 0 0 8px 0; position: relative; padding-left: 20px; background: url(../images/icon-checksquare.png) 0px 3px no-repeat; }
.single-product .prd-excerpt { margin: 0 0 25px 0; padding-left: 50px; position: relative; }
.single-product .prd-excerpt::before { content: ""; display: block; position: absolute; height: 100%; border-left: 1px dashed #0a5495; top: 0px; left: 15px; z-index: 10; }
.single-product .prd-excerpt .box { margin-top: 20px; position: relative; }
.single-product .prd-excerpt .box:before { content: ""; display: block; position: absolute; width: 30px; height: 30px; background-color: #0a5495; background-position: 50% 50%; background-repeat: no-repeat; z-index: 20; top: 0px; left: -50px; }
.single-product .prd-excerpt .box:nth-of-type(1):before { background-image: url(../images/landline.png); }
.single-product .prd-excerpt .box:nth-of-type(2):before { background-image: url(../images/user.png); }
.single-product .prd-excerpt .box:nth-of-type(3):before { background-image: url(../images/bangiao.png); }
.single-product .sidebar_product_desc { margin: 20px 0 50px; background-color: #293347; box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #293347; padding: 30px 15px 20px; border-radius: 12px; font-size: 16px; color: #fff; }
.single-product .sidebar_product_desc .title { margin-bottom: 10px; border-bottom: 1px dashed #a1a1a1; font-size: 26px; padding-bottom: 15px; letter-spacing: -1px; font-weight: bold; text-transform: capitalize; color: #fff; }
.single-product .sidebar_product_desc .price { color: #d4b9ff; font-size: 25px; padding: 5px 0; letter-spacing: -1px; line-height: 1.3 !important; }
.single-product .sidebar_product_desc .text { padding: 18px 12px; border-bottom: 1px dashed #a2a1a1; padding: 5px 0 10px; }
.single-product .sidebar_product_desc .text p { line-height: 1.6; }
.single-product .sidebar_product_desc .info-support { padding: 18px 12px 5px; font-style: italic; font-size: 15px; }
.single-product .sidebar_product_desc .info-support a { color: #d4b9ff; }
.single-product .sidebar_product_desc .info-support a:hover { color: #c4a5f7; }
.single-product .sidebar_product_desc .info-support .num-phone a { font-size: 24px; font-weight: 500; display: block; font-size: 24px; font-weight: bold; color: orange; }
.single-product .sidebar_product_desc .info-support .num-phone a:hover { color: #ff5d00; text-decoration: none; }

/* alternate colors */
/* alternate colors */
/* corner values for bubble up and down */
/* corner values for bubble up and down */
body::before { display: none; }

.ctrl-standard.fx-bubbleDown { color: #8C43FF; border-color: #8C43FF; }

.ctrl-standard.fx-bubbleDown::after { bottom: auto; border-radius: 0 0 75% Infinity% 0 50% 50%; background: #8C43FF; }

.ctrl-standard.fx-bubbleDown.is-reversed::after { height: 300%; }

.ctrl-standard.fx-bubbleDown.is-reversed:hover { color: #8C43FF; background: unset; }

.ctrl-standard.fx-bubbleDown.is-reversed:hover::after { height: 0; }

.ctrl-standard.fx-bubbleUp { color: #9fa255; border-color: #9fa255; }

.ctrl-standard.fx-bubbleUp::after { top: auto; border-radius: 50% 50% 0 0 75% 0 0; background: #9fa255; }

.ctrl-standard.fx-bubbleUp.is-reversed::after { height: 300%; }

.ctrl-standard.fx-bubbleUp.is-reversed:hover { color: #9fa255; }

.ctrl-standard.fx-bubbleUp.is-reversed:hover::after { height: 0; }

.ctrl-standard.fx-sliderIn { color: #81aaa4; border-color: #81aaa4; }

.ctrl-standard.fx-sliderIn::after { background: #81aaa4; }

.ctrl-standard.fx-sliderIn.is-reversed::after { width: 300%; }

.ctrl-standard.fx-sliderIn.is-reversed:hover { color: #81aaa4; }

.ctrl-standard.fx-sliderIn.is-reversed:hover::after { width: 0; }

[class*="ctrl-"] { padding: 5px 10px; border-radius: 2px; border: 1px solid #231f20; }

[class*="ctrl-"][class*="fx-"]:hover, [class*="ctrl-"][class*="fx-"].active { color: #231f20; }

[class*="ctrl-"][class*="fx-"].is-reversed { color: #231f20; }

[class*="fx-"], [class*="fx-"]:hover { transition: color 0.5s ease-in-out; }

[class*="fx-"]:not(.fx-dyna) { position: relative; z-index: 1; transition-delay: 0.2s !important; overflow: hidden; }

[class*="fx-"]:not(.fx-dyna)::after, [class*="fx-"]:not(.fx-dyna)::before { content: ""; display: block; position: absolute; z-index: -1; }

[class*="fx-bubble"]::after { transition: height 0.5s ease-in-out; top: 0; right: 0; bottom: 0; left: 0; height: 0; width: 100%; }

[class*="fx-bubble"]:hover::after, [class*="fx-bubble"].active::after { transition: height 0.5s ease-in-out; height: 300%; }

[class*="fx-bubble"]:disabled:hover::after { height: 0; }

.fx-sliderIn::after { transition: width 0.5s ease-in-out; top: 0; right: 0; bottom: 0; left: 0; width: 0; }

.fx-sliderIn:hover::after, .fx-sliderIn.active::after { transition: width 0.5s ease-in-out; width: 100%; }

:checked + .fx-sliderIn::after, .fx-sliderIn.active::after { width: 300%; }

@media (max-width: 1184px) { /* Page Pri Cat  -------------------------- */
  .product_list { grid-template-columns: repeat(auto-fit, minmax(130px, 1fr)); }
  .forcefullwidth_wrapper_tp_banner { margin-top: 50px !important; }
  .headline_dt { font-size: 1.4em; padding: 7px 0; }
  .headline { font-size: 1.3em; }
  .headline p { margin-top: 15px; }
  .headline span { font-size: 1.2em; }
  .nav-tabs { grid-template-columns: repeat(4, 1fr); }
  /* Single ----------------------- */
  .woocommerce .woocommerce-breadcrumb { margin-top: 20px; }
  .woocommerce div.product .product_title { font-size: 1.7em; margin-top: 0; }
  body.single-product #inner { padding-right: 10px; padding-left: 10px; width: unset; }
  section.related h2 { width: unset; max-width: 355px; }
  .single-product .sidebar { width: 100%; }
  /* Cate - Sub ----------------------- */
  .tax-product_cat #inner { width: 100% !important; }
  /* Footer */
  #footer_taytien .footer_inn .caia-post-list-widget { width: 350px; float: left; margin-right: 10px; }
  #footer_taytien .footer_inn .textwidget { display: flex; flex-wrap: wrap-reverse; }
  #footer_taytien .footer_inn .textwidget div:nth-of-type(2) { order: 1; } }
