@media all and (min-width: 320px) and (max-width: 1184px) {
    #footer_hotlinetop {
        overflow: hidden;
    }
    .coccoc-alo-phone.coccoc-alo-show {
        visibility: visible;
        right: 0 !important;
        top: 30% !important;
    }
    .coccoc-alo-phone {
        width: 117px;
        height: 117px;
    }
    .coccoc-alo-ph-circle {
        width: 100px;
        height: 100px;
        top: 20px;
        left: 20px;
    }
    .coccoc-alo-ph-circle-fill {
        width: 85px;
        height: 85px;
        top: 27px;
        left: 27px;
    }
    .coccoc-alo-ph-img-circle {
        width: 60px;
        height: 60px;
        top: 40px;
        left: 40px;
    }
    .footer_inn_hotlinetop #text-8 {
        text-align: left;
    }
    .fb_iframe_widget_fluid {
        display: inline-block !important;
    }
    .socialbutton {
        padding: 0 5px 0;
    }
    .likebox {
        padding: 15px 0;
    }
    .main-news i.fa-graduation-cap {
        display: none;
    }
    .flex-control-paging {
        display: none;
    }
    .elec_max_right h5 {
        line-height: 20px;
    }
    #header,
    #nav {
        display: none;
    }
    .navbar-custom {
        display: block;
    }
    #wrap {
        width: 100%;
    }
    #blocktop {
        width: 100%;
        position: relative;
        overflow: hidden;
        min-height: 366px;
    }
    #inner {
        padding-top: 50px;
    }
    #inner .wrap {
        width: 100%;
        margin: 0 auto;
    }
    
    .portfolio-grid-wrap {
        overflow: hidden;
        width: 95%;
    }
    .coldv {
        margin: 0 0 10px;
        padding-right: 5px;
        padding-left: 12px;
    }
    .portfolio-entry-excerpt > p {
        display: none;
    }
    .footer_in_hotlinetop {
        width: 295px;
    }
    .chinhanh {
        width: 100%;
        margin-top: 85px;
    }
    .footer_inn {
        width: 100%;
    }
    .footer_inn .caia-post-list-widget {
        width: 100%;
        padding: 0 15px;
    }
    .elec_max_right {
        width: 100%;
        padding: 0 15px;
    }
    .right_elec {
        text-align: center;
        width: 40%;
        position: absolute;
        right: 0;
        margin-right: 5px;
    }
    .elec_max {
        overflow: hidden;
        position: relative;
    }
    .eleck {
        width: 100%;
    }
    .elec_max_left {
        width: 155px;
    }
    #footer .wrap {
        width: 100%;
    }
    .content-sidebar #content-sidebar-wrap,
    .full-width-content #content-sidebar-wrap,
    .sidebar-content #content-sidebar-wrap {
        width: 95%;
        overflow: hidden;
    }
    .content-sidebar #content,
    .sidebar-content #content {
        width: 100%;
    }
    #votcher .rightvot a.vstyle {
        margin: 6px 10px;
    }
    #votcher .rightvot {
        width: 100%;
        margin-top: 0;
    }
    .fixed,
    .fixed2 {
        position: static !important;
        width: 100%;
    }
    .wp-caption {
        width: 100% !important;
    }
    .sidebar {
        width: 100%;
    }
    #inner #menu_sp_shop .item_dv {
        padding-top: 10px;
        margin-top: 0;
    }
    body.page-id-109 #inner,
    body.page-id-112 #inner,
    body.page-id-1294 #inner,
    body.page-id-137 #inner,
    body.page-id-1915 #inner,
    body.page-id-2134 #inner,
    body.page-id-43 #inner,
    body.page-id-906 #inner,
    body.page-id-908 #inner,
    body.page-id-910 #inner,
    body.page-id-913 #inner,
    body.page-id-915 #inner {
        padding-top: 50px;
    }
    body.page-id-109 #inner .wrap,
    body.page-id-112 #inner .wrap,
    body.page-id-1294 #inner .wrap,
    body.page-id-137 #inner .wrap,
    body.page-id-1915 #inner .wrap,
    body.page-id-2134 #inner .wrap,
    body.page-id-43 #inner .wrap,
    body.page-id-906 #inner .wrap,
    body.page-id-908 #inner .wrap,
    body.page-id-910 #inner .wrap,
    body.page-id-913 #inner .wrap,
    body.page-id-915 #inner .wrap {
        width: 100%;
    }
    .sbl ul {
        width: 100%;
    }
    .sbl ul li {
        padding: 10px 5px !important;
    }
    .scdh_vn {
        width: 95%;
        position: relative;
        height: 830px;
        padding-top: 10px;
    }
    .scdh_left {
        width: 100%;
        position: absolute;
        bottom: 20px;
    }
    .why_vn {
        width: 95%;
    }
    .why_left {
        width: 100%;
        overflow: hidden;
    }
    .why_right {
        width: 100%;
        top: 0;
        left: 0;
    }
    .qt_vn {
        width: 95%;
    }
    .qt_left {
        width: 100%;
    }
    .qt_right {
        width: 100%;
    }
    .gia_vn {
        width: 97%;
    }
    .gia_vn p {
        text-align: justify;
    }
    .gia_vn h5 span.phonedetail {
        display: block;
    }
    .footer_in_suachua {
        width: 100%;
    }
    .footer_in_suachua .caia-post-list-widget {
        width: 100%;
    }
    .scdh_left h2 {
        font-size: 31px;
    }
    .widget-tuyendung {
        margin-bottom: 20px;
        overflow: hidden;
    }
    .s_h_1 span.ht1 {
        font-size: 12px;
        margin-right: 0;
        padding: 2px 5px;
    }
    .s_h_1 {
        width: 48%;
    }
    .s_h_1 > p {
        font-size: 12px;
    }
    .widget-tuyendung > p {
        display: none;
    }
    .widget-tuyendung span.time {
        margin-top: 10px;
        font-size: 12px;
    }
    .tuyendung-page img {
        width: 100%;
    }
    .widget-tuyendung > h2 {
        margin: 0;
    }
    .footer_inn_hotlinetop #text-8 h4 {
        margin-top: 7px;
    }
    #votcher .lienhe {
        width: 100%;
        margin-top: 5px;
    }
    #votcher .rightvot a.vstyle {
        font-size: 11px;
        width: 46%;
    }
    .wrap-vot {
        padding: 5px 10px;
    }
    #votcher .rightvot a.vstyle {
        margin: 6px 3px;
    }
    #votcher .rightvot a.baogia {
        margin-right: 10px;
    }
    .why_left img {
        margin-top: 0;
    }
    .wleft {
        height: 90px;
        padding: 0 5px;
    }
    .bright .rintro p {
        font-size: 16px;
        padding-top: 10px;
        line-height: 23px;
    }
    .bright .rcontent h4 {
        font-size: 18px;
    }
    .bright {
        background-size: 100% 100%;
    }
    .bright .rcontent p.pright {
        font-size: 12px;
    }
    .qt_left p {
        font-size: 16px;
        font-family: texg;
    }
    .why_left img {
        border: 2px solid #fff;
    }
    body.page .a2a_kit {
        top: 300px !important;
        opacity: 0.5;
    }
    #content-category-wrap {
        padding-top: 40px;
    }
    .page-content{
    
        padding-top:40px;
    }
}
@media all and (min-width: 340px) and (max-width: 1100px) {
    .s_h_1 > p {
        font-size: 12px;
    }
    .s_h_1 span.ht1 {
        font-size: 15px;
    }
    .why_left img {
        border: 2px solid #fff;
    }
    #content-category-wrap {
        padding-top: 50px;
    }
    .page-content{
    
        padding-top:40px;
    }
}
@media all and (min-width: 375px) and (max-width: 1100px) {
    .s_h_1 > p {
        font-size: 14px;
    }
    .s_h_1 span.ht1 {
        font-size: 16px;
    }
    .wleft {
        height: 110px;
        padding: 0 5px;
    }
    .why_left img {
        border: 2px solid #fff;
    }
    #content-category-wrap {
        padding-top: 50px;
    }
    .page-content{
    
        padding-top:40px;
    }
}
@media all and (min-width: 480px) and (max-width: 1100px) {
    .coccoc-alo-phone.coccoc-alo-show {
        top: 48% !important;
    }
    .page-content{
    
        padding-top:40px;
    }
    .scdh_vn {
        height: 755px;
    }
    .s_h_1 > p {
        font-size: 17px;
    }
    .s_h_1 span.ht1 {
        font-size: 19px;
    }
    .right_elec {
        width: 30%;
    }
    #blocktop {
        min-height: 450px;
    }
    .socialbutton {
        padding: 8px 5px 0;
    }
    .footer_in_hotlinetop {
        width: 62%;
    }
    .portfolio-entry-excerpt > p {
        display: block;
    }
    .tuyendung-page img {
        width: 50%;
        height: 190px;
    }
    #votcher .rightvot a.vstyle {
        width: 180px;
    }
    .sbl ul {
        width: 65%;
    }
    .s_h_1 span.ht1 {
        margin-right: 15px;
    }
    .s_h_1 {
        width: 48%;
    }
    .s_h_1 span.ht2 {
        margin-right: 30px;
    }
    .lefttitle p.titlelpage {
        margin-right: 10px;
    }
    #votcher .lienhe {
        width: 100%;
    }
    #votcher .rightvot a.vstyle {
        width: 47%;
    }
    .wleft {
        height: 140px;
    }
    #content-category-wrap {
        padding-top: 50px;
    }
}
.why_left img {
    border: 2px solid #fff;
}
@media all and (min-width: 568px) and (max-width: 1100px) {
    #blocktop {
        min-height: 485px;
    }
    .footer_inn .caia-post-list-widget {
        width: 48%;
    }
    #content-category-wrap {
        padding-top: 50px;
    }
    .eleck {
        width: 100%;
    }
    .right_elec {
        width: 25%;
    }
    .sbl ul li {
        padding: 10px 15px !important;
    }
    .s_h_1 span.ht1 {
        margin-right: 45px;
    }
    .s_h_1 span.ht2 {
        margin-right: 65px;
    }
    .wleft {
        height: 160px;
    }
}
.why_left img {
    border: 2px solid #fff;
}
@media all and (min-width: 600px) and (max-width: 1100px) {
    #blocktop {
        min-height: 500px;
    }
    .vpelec {
        width: 28%;
    }
    .widget-tuyendung > p {
        display: block;
    }
    .footer_in_hotlinetop {
        width: 55%;
    }
    .sbl ul {
        width: 61%;
    }
    .wleft {
        height: 170px;
    }
}
.why_left img {
    border: 2px solid #fff;
}
@media all and (min-width: 768px) and (max-width: 1100px) {
    
    #blocktop {
        min-height: 285px;
    }
    
    #header,
    #nav {
        display: block;
    }
    #header .wrap {
        width: 100%;
    }
    #title a,
    #title a:hover {
        width: 215px;
        background-size: 100%;
    }
    #header .widget-area {
        width: 72%;
    }
    #nav .wrap {
        width: 100%;
    }
    #inner #menu_sp_shop {
        width: 40%;
        position: static;
    }
    #inner #slide_header {
        display: block;
        width: 60%;
        position: static;
    }
    #inner #menu_sp_shop .item_dv {
        padding-top: 0;
    }
    #inner #menu_sp_shop #text-5 h3 {
        margin: 5px 0 0;
    }
    .elec_max_right {
        width: 67%;
    }
    .eleck {
        width: 68%;
    }
    .right_elec {
        width: 30%;
        margin-right: 10px;
    }
    #header .widget-area #text-3 {
        display: none;
    }
    #inner .wrap {
        width: 98%;
    }
    .hotbutton a.vstyle {
        width: 47%;
    }
    .sbl ul {
        width: 50%;
    }
    .scdh_vn {
        width: 98%;
    }
    .scdh_left {
        width: 55%;
        position: static;
    }
    .scdh_right {
        width: 45%;
        position: static;
        float: right;
    }
    .scdh_vn {
        height: 460px;
    }
    .s_h_1 > p {
        font-size: 17px;
    }
    .s_h_1 span.ht1 {
        font-size: 17px;
    }
    .s_h_1 {
        width: 47%;
    }
    .s_h_1 span.ht1 {
        margin-right: -5px;
    }
    .s_h_1 span.ht2 {
        margin-right: 10px;
    }
    .why_vn {
        width: 97%;
    }
    .why_left {
        width: 47%;
    }
    .why_right {
        width: 50%;
    }
    .qt_vn {
        width: 97%;
    }
    .qt_right {
        width: 53%;
    }
    .qt_left {
        width: 45%;
    }
    .footer_in_suachua .caia-post-list-widget {
        width: 50%;
    }
    
    .footer_in_hotlinetop {
        width: 39%;
    }
    .wleft {
        height: 105px;
    }
}
.why_left img {
    border: 2px solid #fff;
}
@media all and (min-width: 800px) and (max-width: 1100px) {
    .footer_in_suachua .caia-post-list-widget {
        width: 33%;
    }
    .footer_in_hotlinetop {
        width: 40%;
    }
}
.why_left img {
    border: 2px solid #fff;
}
@media all and (min-width: 992px) and (max-width: 1100px) {
    
    .wp-megamenu-main-wrapper.wpmm-ctheme-wrapper.wpmega-default-theme.wpmm-orientation-horizontal ul.wpmm-mega-wrapper > li > a {
        padding: 15px 9px !important;
    }
    .footer_inn .caia-post-list-widget {
        width: 23%;
    }
    .footer_in_hotlinetop {
        width: 30%;
    }
    .chinhanh {
        width: 69%;
        margin-top: 0;
    }
    .hotbutton a.vstyle {
        width: 48%;
    }
    #inner {
        padding-top: 20px;
    }
    .sbl ul {
        width: 38%;
    }
    body.page-id-109 #inner,
    body.page-id-112 #inner,
    body.page-id-43 #inner {
        padding-top: 0;
    }
    .footer_in_suachua .caia-post-list-widget {
        width: 33%;
    }
    .s_h_1 span.ht1 {
        margin-right: 45px;
    }
    .s_h_1 span.ht2 {
        margin-right: 63px;
    }
    .wleft {
        height: 120px;
    }
}
/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px){
    .navbar-custom {
    display: block;
    }
    
    .menu-primary a {
    FONT-SIZE: 9px;
    }
    #header .widget-area {
    width: 62%;
    }
    .menu-primary a {
    padding: 16px 6px 12px;
    }
    #inner {
    padding-top: 16px;
    }
    #inner #slide_header {
    padding-top: 0px;
    }
    .flexslider .slides img {
    height: 228px;
    }
    .flexslider {
    margin: 0 0 37px;
    }
}
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
  .luyen-thi-truc-tuyen {
    background: -webkit-gradient(linear,0 0,0 100%,from(#00afef),to(#2a55a3));
    text-align: center;
    margin: 0 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 10px 0px;
    }
    .luyen-thi-truc-tuyen a{
        color: white;
        text-transform: uppercase;
    }
    #header, #nav {
    display: none;
    }
    #inner {
    padding-top: 56px;
    }
    .logo {
    width: 121px;
    margin-top: 10px;
    }
}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px){
    .fixed-socialdiv{
        display: none;
    }
    .menu-primary a {
    font-size: 8px;
    }
    
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px){
    .page-content{
        width: 100%;
        padding-right:0px;
        padding-top:0px;
    }
    .btn-tu-van-page {
    padding: 10px 9px;
    }
    .siderbar-content{
        width: 100%;
    }
    #inner #menu_sp_shop{
        width: 100%;
    }
    .contact-form .form-group{
        padding-bottom: 5px;
    }
    .no-padding{
        padding: 5px 15px;
    }
    #wrap{
        overflow:hidden;
    }
    .navbar-custom .navbar-brand {
    padding: 13px 15px;
    }
    #inner #slide_header {
        width:100%;
        position: absolute;
        top:0px;
        padding-top:0px;
    }
    #inner #menu_sp_shop {
    width: 100%;
    margin-top: 170px;
    padding: 0px 10px;
    /* position: absolute; */
    /* bottom: 0px; */
    left: 0px;
    }
    #slide_header{
        padding:0px;
    }
    .logo {
    width: 130px;
    margin-top:0px;
    }
    .flexslider .slides img {
    height: 170px!important;
    }
    .flexslider {
    border: 0!important;
        
    }
    .container{
        padding:0px;
    }
    #themts li {
    overflow: hidden;
    margin-bottom: 0px;
    box-shadow: none !important;
    background-color: #f5f5f585;
    width: 50%;
    float: left;
    height: 188px;
    padding: 1%;
    }
    .themts-home li h3 {
    font-size: 14px!important;
    line-height: 1.3;
    }
    #themts li img {
    display: block;
    float: left;
    margin-right: 10px;
    width: 100%;
    height: 120px;
    margin-bottom: 8px!important;
    }
    #nav_menu-3 {
		position: sticky;
		top: 20px;
		position: -webkit-sticky;
		border: 1px solid #e0e0e0;
		display: inline-block;
		padding-top: 20px;
	}
	.portfolio-entry-title {
    margin: 0 4px 9px;
    }
    .home-ptitle h2 {
    height: 44px;
    }
    .portfolio-entry-excerpt > p {
    display: none;
    padding-left: 10px;
    }
    .portfolio-entry-excerpt > span {
    display: none;
    }
    #contongtrv1 h2 {
    margin-top: 11px!important;
    }
    #contongtrv2 h2 {
    margin-top: 11px!important;
    }
    .home-ptitle-hg{
        text-transform: uppercase;
        font-size: 14pt;
        padding-right: 8px;
    }
    .px480-hidden{
        display:none;
    }
    .luyen-thi-truc-tuyen {
    background: -webkit-gradient(linear,0 0,0 100%,from(#00afef),to(#2a55a3));
    text-align: center;
    margin: 0 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 10px 0px;
    }
    .luyen-thi-truc-tuyen a{
        color: white;
        text-transform: uppercase;
    }
    .menu_cat_sub{overflow:hidden;padding-bottom:20px;}
    .menu_cat_sub h4{border-top:dotted 1px #dcdcdc;padding:10px 0;margin:0 10px;font:normal 13px/1.3 arial;color:#888;}
    .menu_cat_sub ul{overflow:hidden;text-align:center;display:grid;grid-template-columns:49% 49%;grid-gap:10px 2%;padding:10px;}
    .menu_cat_sub li{background-color:#f5f7f7;border-radius:3px;border:solid 1px #dfe3e6;list-style:none;}
    .menu_cat_sub li a{display:block;font:bold 12px/1.3 arial;text-align:center;color:#666;padding:12px 0;text-transform:uppercase;}
    .ladding-image-thumnails{
        padding:0px;
        margin-top:-18px;
    }
    .themts-siderbar-h3{
            font-size: 14px !important;
            padding: 5px;
    }
    .themts-siderbar img {
    width: 100%;
    height: 100px;
    display: block;
    margin-right: 10px;
    border: 1px solid rgba(0,0,0,.25);
    padding: 5px;
    line-height: 1.5;
    margin-left:0px!important;
    }
    #nav_menu-2 ul li{
    padding: 10px 7px!important;
    height:198px !important;
    }
    .padding-480px{
        padding-left:10px;
        padding-right:10px;
    }
    .widget-tuyendung img {
        padding-bottom:10px;
    }
    .fb-like.fb_edge_widget_with_comment.fb_iframe_widget, .fb-like.fb_edge_widget_with_comment.fb_iframe_widget > span, .fb-like.fb_edge_widget_with_comment.fb_iframe_widget > span > iframe {
    width: 100% !important;
    height: auto !important;
    }
    .page-content h1 {
    line-height: 1.5;
    }
    .navbar {
    min-height: 56px;
    }
    .top-dangky img {
    padding-top: 56px;
    width:100%;
    }
    .dangky-form {
    margin-top: 0px !important;}
    .home-form2{
        display: block;
      }
    
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px){
    
}
/*Smart phone nhỏ*/
@media screen and (max-width: 240px){
    
}
